<ul class="Tabs" role="tablist">
  <li role="presentation" class="{{if (eq imageTab 'distributions') 'is-active'}} {{if (eq selectedImageTab 'distro') 'has-selected-image'}}">
    <a aria-controls="distributions" role="tab" {{ action 'loadImages' 'distributions' }}>Distributions</a>
  </li>
  <li role="presentation" class="{{if (eq imageTab "applications") "is-active"}} {{if (eq selectedImageTab 'application') 'has-selected-image'}}">
    <a aria-controls="one-click-apps" role="tab" {{ action 'loadImages' 'applications' }}>One-click apps</a>
  </li>
  {{#if model.has_snapshots}}
    <li role="presentation" class="{{if (eq imageTab 'snapshots') 'is-active'}} {{if (eq selectedImageTab 'snapshot') 'has-selected-image'}}">
      <a aria-controls="snapshots" role="tab" {{ action 'loadImages' 'snapshots' }}>Snapshots</a>
    </li>
  {{/if}}
  {{#if model.has_backups}}
    <li role="presentation" class="{{if (eq imageTab 'backups') 'is-active'}} {{if (eq selectedImageTab 'backup') 'has-selected-image'}}">
      <a aria-controls="backups" role="tab" {{ action 'loadImages' 'backups' }}>Backups</a>
    </li>
  {{/if}}
  {{#if model.has_admin_images}}
    <li role="presentation" class="tab-admin-images {{if (eq imageTab 'admin') 'is-active'}} {{if (eq selectedImageTab 'admin') 'has-selected-image'}}">
      <a aria-controls="admin-images" role="tab" {{ action 'loadImages' 'admin' }}><span class="Icon--gear"></span></a>
    </li>
  {{/if}}
</ul>

<div class="Tabs-content Tabs-content--box">
  {{#if (eq imageTab 'distributions')}}
    <div role="tabpanel" class="Tabs-pane is-active" id="distributions">
      <ul class="small-block-grid-6">
        {{#each model.distributions as |distro|}}
          <li>
            <div class="distro {{if (eq selectedDistro.id distro.id) 'selected'}}">
              <button class="distro-button unbuttonized {{to-lowercase distro.name}}" {{action "onSelectImage" distro 'distro'}}>
                <div class="icon"></div>
                <span class="distro-name">{{distro.name}}</span>
              </button>
              {{images-dropdown-menu distro=distro action="onSelectDistroVersion" selectedDistro=selectedDistro distroVersion=distroVersion}}
            </div>
          </li>
        {{/each}}
      </ul>

      {{#each selectedDistro.required_features as |feature|}}
        {{#if (eq feature 'ssh')}}
          <p>This distribution requires an SSH Key.</p>
        {{/if}}
      {{/each}}
    </div>
  {{else if (eq imageTab 'applications')}}
    <div role="tabpanel" class="Tabs-pane is-active" id="one-click-apps">
      {{#if loading}}
        {{loading-animation}}
      {{else}}
        <ul class="small-block-grid-3">
          {{#each applications as |appImage|}}
            <li>
              <button class="image-button unbuttonized {{appImage.iconName}} {{if (eq image.id appImage.id) 'selected'}}" {{action "onSelectImage" appImage 'application'}}>
                <div class="icon"></div>
                {{#ellipsis-text text=appImage.name}}
                  <span class="inner-align">{{appImage.name}}</span>
                {{/ellipsis-text}}
              </button>
            </li>
          {{/each}}
        </ul>
      {{/if}}
    </div>
  {{else if (eq imageTab 'snapshots')}}
    <div role="tabpanel" class="Tabs-pane is-active" id="snapshots">
      {{#if loading}}
        {{loading-animation}}
      {{else}}
        <ul class="small-block-grid-3">
          {{#each snapshots as |snapshot|}}
            <li>
              <button class="image-button unbuttonized snapshot {{if (eq image.id snapshot.id) 'selected'}}" {{action "onSelectImage" snapshot 'snapshot'}}>
                <div class="icon"></div>
                {{#ellipsis-text text=snapshot.longName}}
                  <span class="inner-align">{{snapshot.longName}}</span>
                {{/ellipsis-text}}
              </button>
            </li>
          {{/each}}
        </ul>

        {{#if (gt snapshots.meta.pagination.pages 1)}}
          {{paginator-full
            useActions=true
            isLoading=paginationLoading
            pages=snapshots.meta.pagination.pages
            currentPage=snapshots.meta.pagination.current_page
            action="changePage"
            scrollToAfterLoad="#aurora-container"
          }}
        {{/if}}
      {{/if}}
    </div>
  {{else if (eq imageTab 'backups')}}
    <div role="tabpanel" class="Tabs-pane is-active" id="backups">
      {{#if loading}}
        {{loading-animation}}
      {{else}}
        <ul class="small-block-grid-3">
          {{#each backups as |backup|}}
            <li>
              <button class="image-button unbuttonized backup {{if (eq image.id backup.id) 'selected'}}" {{action "onSelectImage" backup 'backup'}}>
                <div class="icon"></div>
                {{#ellipsis-text text=backup.longName}}
                  <span class="inner-align">{{backup.longName}}</span>
                {{/ellipsis-text}}
              </button>
            </li>
          {{/each}}
        </ul>

        {{#if (gt backups.meta.pagination.pages 1)}}
          {{paginator-full
            useActions=true
            isLoading=paginationLoading
            pages=backups.meta.pagination.pages
            currentPage=backups.meta.pagination.current_page
            action="changePage"
            scrollToAfterLoad="#aurora-container"
          }}
        {{/if}}
      {{/if}}
    </div>
  {{else if (eq imageTab 'admin')}}
    <div role="tabpanel" class="Tabs-pane is-active" id="admin-images">
      {{#if loading}}
        {{loading-animation}}
      {{else}}
        <ul class="small-block-grid-3">
          {{#each admin as |adminImage|}}
            <li>
              <button class="image-button unbuttonized admin {{if (eq image.id adminImage.id) 'selected'}}" {{action "onSelectImage" adminImage 'admin'}}>
                <div class="icon"></div>
                {{#ellipsis-text text=adminImage.name}}
                  <span class="inner-align">{{adminImage.name}}</span>
                {{/ellipsis-text}}
              </button>
            </li>
          {{/each}}
        </ul>

        {{#if (gt admin.meta.pagination.pages 1)}}
          {{paginator-full
            useActions=true
            isLoading=paginationLoading
            pages=admin.meta.pagination.pages
            currentPage=admin.meta.pagination.current_page
            action="changePage"
          }}
        {{/if}}
      {{/if}}
    </div>
  {{/if}}
</div>