<section class="row summary">
  <div class="columns small-12">
    <h2>Finalize and create</h2>
    <div class="row u-mb-6 u-mt-3">
      <div class="columns small-12">
        <div class="small-4 columns u-pl-0">
          <div class="Box">
            <h3>How many Droplets?</h3>

              {{#if volumes.length}}
                <p class="u-mb-3 u-mt-2">
                  You can only create 1 Droplet with this
                  {{partial "droplet/partials/create/finalize-config-summary"}} at a time.
                </p>
                {{partial "droplet/partials/create/finalize-input-stepper"}}
              {{else}}
                <p class="u-mb-3 u-mt-2">
                  Deploy multiple Droplets with the same
                  {{partial "droplet/partials/create/finalize-config-summary"}}.
                </p>
                {{partial "droplet/partials/create/finalize-input-stepper"}}
              {{/if}}
          </div>
        </div>
        <div class="small-8 columns u-pr-0">
          <div class="Box hostnames">
            <h3>Choose a hostname</h3>
            <p class="u-mb-3 u-mt-2">
              Give your Droplets an identifying name you will remember them by.
              Your Droplet name can only contain
              alphanumeric characters, dashes, and periods.
            </p>
            {{input-droplet-hostnames
              count=dropletCount
              image=image
              size=selectedSize
              region=selectedRegion
              onHostNamesChangeAction="setHostNames"
            }}
            {{#unless showTagsEditor}}
              <a role="button" {{action 'toggleShowTagsEditor'}}>Add Tags</a>
            {{else}}
              <h3>Tags</h3>
              {{tags-editor
                updateTags="updateTags"
                validateToken=validateTag
                queryOnInput=(action 'queryTags')
                unsortedSearchResults=tagSearchResults
                subHeader="Tags may contain letters, numbers, colons, dashes, and underscores."
              }}
            {{/unless}}
          </div>
        </div>
      </div>
    </div>
  </div>

  {{#unless hasRequiredSshKey}}
    <div class="columns small-12">
      <div class="Box errors u-mb-4">
        <p>The distribution you selected requires at least one SSH key.</p>
      </div>
    </div>
  {{/unless}}
  {{#if hasInvalidVolumeSize}}
    <div class="columns small-12">
      <div class="Box errors u-mb-4">
        <p>Volume size must be between {{MIN_VOLUME_SIZE}}GB and {{MAX_VOLUME_SIZE}}GB</p>
      </div>
    </div>
  {{/if}}

  <div class="columns small-12">
    <button class='Button Button--green Button--large Button--fullWidth' disabled="{{if (not createButtonIsEnabled) 'disabled'}}" {{action "createDroplets"}}>Create</button>
  </div>
</section>
