<div class="Box" id="account-balance">
  {{#if (gt model.user.balance 0)}}
    <h2>
      You owe
      <div class="u-floatRight">${{formattedBalance}}</div>
    </h2>
    {{#if model.billingState.can_pay_now}}
      {{#tool-tip title=payNowTooltip multiline=true}}
        <button {{action 'showPayNowModal'}} class='Button Button--blue Button--fullWidth u-mt-3 {{if sendingUserPayment "is-disabled"}}'>Pay Now
          {{#if sendingUserPayment}}
            {{loading-spinner plain=true}}
          {{/if}}
        </button>
      {{/tool-tip}}
    {{else}}
      {{#tool-tip title='Earn credits by referring friends'}}
        {{#link-to 'settings.referrals' class='Button Button--blue Button--fullWidth u-mt-3'}}Earn Credit{{/link-to}}
      {{/tool-tip}}
    {{/if}}
  {{else if (lt model.user.balance 0)}}
    <h2>
      Your credit
      <div class="u-floatRight">${{formattedBalance}}</div>
    </h2>
    {{#tool-tip title='Earn credit by referring friends'}}
      {{#link-to 'settings.referrals' class='Button Button--blue Button--fullWidth u-mt-3'}}Earn More Credit{{/link-to}}
    {{/tool-tip}}
  {{else}}
    <h2>
      Your balance
      <div class="u-floatRight">${{formattedBalance}}</div>
    </h2>
    {{#tool-tip title='Earn credits by referring friends'}}
      {{#link-to 'settings.referrals' class='Button Button--blue Button--fullWidth u-mt-3'}}Earn Credit{{/link-to}}
    {{/tool-tip}}
  {{/if}}
</div>
