<div class="row u-mb-5">
  <div class="small-12 columns">
    <section>
      <h2 class="u-mb-3">Billing history</h2>
      {{#if model.events}}
        <table id="history" class="listing Billing--history">
          <thead>
            <tr>
              {{table-header noSorting=true col="date" text="Date"}}
              {{table-header noSorting=true col="description" text="Description"}}
              {{table-header noSorting=true col="amount" text="Amount"}}
              {{table-header noSorting=true col="invoice"}}
            </tr>
          </thead>
          <tbody>
            {{#each model.events as |event|}}
              <tr>
                <td class="date">
                  {{date-to-human-time date=event.date}}
                </td>
                <td class="description">
                  {{#ellipsis-text text=event.description}}
                    {{event.description}}
                  {{/ellipsis-text}}
                </td>
                <td class="amount">
                  {{format-currency event.amount}}
                </td>
                <td class="invoice u-floatRight">
                  {{#if event.invoiceId}}
                    {{#relative-link target="_blank" rel="noopener noreferrer" shortContextId=model.user.shortCurrentContextId href=(concat '/billing/' event.invoiceId '.pdf')}}View Invoice{{/relative-link}}
                  {{/if}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        {{#if needsPagination}}
          {{paginator-full
            linkToPage="settings.billing"
            isLoading=paginating
            scrollToAfterLoad="#history"
            pages=model.events.meta.pagination.pages
            currentPage=model.events.meta.pagination.current_page
            action="changePage"
          }}
        {{/if}}
      {{else}}
        <div class="EmptyState--simple">
          You have no billing history.
        </div>
      {{/if}}
    </section>
  </div>
</div>
