<div class="row volume-desc u-mt-2">
  <div class="small-12 columns">
    <h2>Block Storage Basics</h2>
  </div>
  <div class="small-4 columns">
    <a href="https://www.digitalocean.com/community/tutorials/how-to-use-block-storage-on-digitalocean" target="_blank" rel="noopener noreferrer">Overview</a>
    <p>Discover block storage, and what you can do with volumes.</p>
  </div>
  <div class="small-4 columns">
    <a href="https://developers.digitalocean.com/documentation/v2/#block-storage" target="_blank" rel="noopener noreferrer">API docs</a>
    <p>Use block storage volumes via the DigitalOcean API.</p>
  </div>
  <div class="small-4 columns">
    <a href="http://do.co/StorageFeedback" target="_blank" rel="noopener noreferrer">Tell us what you think</a>
    <p>Submit your feedback on block storage.</p>
  </div>
</div>

{{#if modalVolume}}
  {{#modal-window title=(concat modalAction " " modalVolume.name "?") saveClasses="Button--red" contentClasses="confirm-small" size="medium" saveText="Confirm" onHide="onConfirmModalHide"}}
    {{#if (eq modalAction "Delete")}}
      {{#if (and modalDroplet modalDroplet.isPoweredOn)}}
        <p class="u-grey">Deleting a volume from a running Droplet may cause errors on your Droplet.</p>
        <p class="u-grey">Power the Droplet off first, or make sure it isn’t currently writing to the volume before proceeding. Additionally, all of your data will be lost forever, and you will not be charged for it going forward.</p>
      {{else}}
        <p class="u-grey">If you delete this volume, all of your data will be lost forever, and you will not be charged for it going forward.</p>
      {{/if}}
    {{else}}
      {{#if modalDroplet.isPoweredOn}}
        <p class="u-grey">Detaching a volume from a running Droplet may cause data loss.</p>
        <p class="u-grey">Power off the Droplet first, or make sure it isn’t currently writing to the volume before proceeding. You’ll be able to access your detached volume and data in the “Volumes" tab, and you will still be charged for it.</p>
      {{else}}
        <p class="u-grey">You’ll be able to access your detached volume and data in the “Volumes” tab, and you will still be charged for it.</p>
      {{/if}}
    {{/if}}
    {{#unless (and modalVolume.isPoweredOff (eq modalAction "detach"))}}
      <p class="u-grey">Are you sure you want to proceed?</p>
    {{/unless}}
  {{/modal-window}}
{{/if}}

{{#if modalResizeVolume}}
  {{partial "partials/volume-resize-modal"}}
{{/if}}

{{#if formatInstructionsVolume}}
  {{partial "partials/format-volume-modal"}}
{{else if showAttachModal}}
  {{partial "partials/volume-modal"}}
{{/if}}
