<div class="aurora-volumes aurora-volumes-index row">
  <div class="columns small-12">
    {{#if filteredModel.length}}
      <table>
        <thead>
          <tr>
            {{table-header action="sort" isLoading=sorting sortCol=sort sortDir=sort_direction col="name" text="Name"}}
            {{table-header action="sort" isLoading=sorting sortCol=sort sortDir=sort_direction col="droplet_names" text="Droplet"}}
            {{table-header action="sort" isLoading=sorting sortCol=sort sortDir=sort_direction col="created_at" text="Created"}}
            {{table-header col="action" noSorting=true}}
          </tr>
        </thead>
        <tbody>
          {{#each filteredModel as |volume|}}
            <tr class="{{if volume.highlightNew "highlight-new"}}">
              <td class="storage__nameColumn">
                {{#ellipsis-text text=volume.name}}
                  {{resource-item item=volume}}
                {{/ellipsis-text}}
              </td>
              <td class="storage__attachedToColumn">
                <div class="Icon--arrowLongRight arrow-icon"></div>
                {{#if (or volume.attachAndReattachDroplet volume.attachingDroplet)}}
                  {{resource-item link-to='droplet' item=(or volume.attachAndReattachDroplet volume.attachingDroplet)}}
                {{else if (eq autoCompleteVolume volume)}}
                  {{#if volume.droplet}}
                    {{auto-complete disabledItemIndicies=disabledAutoCompleteItems onSelect="autoCompleteSelect" showClose=false startOpen=true saveClasses="Button--red" defaultItem="Detach volume" onHide="hideAutoComplete" items=autoCompleteItems isSearching=autoCompleteIsSearching isShowingMore=autoCompleteIsShowingMore placeholder="Choose a Droplet"}}
                  {{else}}
                    {{auto-complete disabledItemIndicies=disabledAutoCompleteItems onSelect="autoCompleteSelect" showClose=false startOpen=true items=autoCompleteItems onHide="hideAutoComplete" isSearching=autoCompleteIsSearching isShowingMore=autoCompleteIsShowingMore placeholder="Choose a Droplet"}}
                  {{/if}}
                {{else if volume.droplet}}
                  {{#if volume.pendingEvent}}
                    {{resource-item link-to='droplet' item=volume.droplet.content}}
                  {{else}}
                    <div role="button" class="clickable" {{action 'showAttachAutoComplete' volume}}>
                      {{resource-item link-to='droplet' item=volume.droplet.content}}
                    </div>
                  {{/if}}
                {{else}}
                  <a role="button" {{action 'showAttachAutoComplete' volume}}>Attach to a Droplet</a>
                {{/if}}
              </td>
              <td class="storage__createdColumn">
                {{date-to-human-time date=volume.createdAt}}
              </td>
              <td class="storage__actionColumn">
                <div class="u-floatRight">
                  {{#if volume.deleting}}
                    {{loading-spinner message="Deleting"}}
                  {{else if (or volume.resizeEvent volume.resizing)}}
                    {{loading-spinner message="Resizing"}}
                  {{else if (or volume.attachAndReattachDroplet volume.attachEvent volume.attachingDroplet)}}
                    {{#if volume.tooltip}}
                      {{#tool-tip title=volume.tooltip multiline=true show=true}}
                        {{loading-spinner message="Attaching"}}
                      {{/tool-tip}}
                    {{else}}
                      {{loading-spinner message="Attaching"}}
                    {{/if}}
                  {{else if (or volume.detachEvent volume.detachingDroplet)}}
                    {{loading-spinner message="Detaching"}}
                  {{else}}
                    {{#unless volume.isUnattached}}
                      {{volumes-dropdown-menu title="More" volumeSnapshotLimitReached=volumeSnapshotLimitReached snapshotName=snapshotName items=attachedMenuItems createSnapshot="createSnapshot" action="menuItemClick" closeOnClick=true actionParams=volume tooltip=volume.tooltip snapshotLimit=resourceLimits.volumeSnapshotLimit
                      incrementVolumeSnapshotCount="incrementVolumeSnapshotCount"
                      }}
                    {{else}}
                      {{volumes-dropdown-menu title="More" volumeSnapshotLimitReached=volumeSnapshotLimitReached snapshotName=snapshotName items=unattachedMenuItems createSnapshot="createSnapshot" action="menuItemClick" closeOnClick=true actionParams=volume tooltip=volume.tooltip snapshotLimit=resourceLimits.volumeSnapshotLimit
                      incrementVolumeSnapshotCount="incrementVolumeSnapshotCount"
                      }}
                    {{/unless}}
                  {{/if}}
                </div>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      {{#if (gt volumes.meta.pagination.pages 1)}}
        {{paginator-full
          isLoading=paginating
          linkToPage="volumes"
          pages=volumes.meta.pagination.pages
          currentPage=volumes.meta.pagination.current_page
          scrollToAfterLoad="#aurora-container"
          action="changePage"
        }}
      {{/if}}
    {{else}}
      <div class="Box u-mt-3">
        <div class="row">
          {{partial "partials/volume-empty-state"}}
        </div>
      </div>
    {{/if}}
  </div>
  {{partial "partials/volume-footer"}}
</div>
