{{#if (and agentCompatible shouldShowAgentInstallationNotification)}}
<div class="row">
  <div class="columns small-12 u-mb-3 Install-agent-alert">
    <div class="Alert Alert--neutralGrey">
      <div class="Alert-content">
        {{#if monitoringEnabled}}
          <p><span class="new-label u-mr-1">New!</span> Update Droplet to Monitoring<sup class="u-uppercase">Beta</sup></p>
        {{else}}
          <p><span class="new-label u-mr-1">New!</span> Update Droplet to Graphs<sup class="u-uppercase">Beta</sup> for additional metrics.</p>
        {{/if}}
        <a role="button" class="Alert-close Icon--close u-ml-3" {{action 'dismissAgentInformationNotification'}}></a>
        <a role="button" class="Button Button--blue Button--alert" {{action 'openAgentInstallationInstructions'}}>Learn How to Update</a>
      </div>
    </div>
  </div>
</div>
{{/if}}

{{#if (and agentCompatible shouldShowStaleDataNotification)}}
<div class="row">
  <div class="columns small-12 u-mb-3 Install-agent-alert">
    <div class="Alert Alert--failure">
      <div class="Alert-content">
        <p>Not receiving metric data. Last working {{date-to-human-time date=lastTimeseriesTick}}</p>
        <a role="button" class="Button Button--alert" data-toggle="modal" data-target="#agentReinstallModal" {{action 'openAgentReinstallInstructions'}}>Resolve Issue</a>
      </div>
    </div>
  </div>
</div>
{{/if}}

{{#if (and agentCompatible shouldShowMetricsServiceError)}}
<div class="row">
  <div class="columns small-12 u-mb-3 Install-agent-alert">
    <div class="Alert Alert--failure">
      <div class="Alert-content">
        <p>Metrics Service is temporarily unavailable, we're working to bring it back up. Try again in a minute.</p>
      </div>
    </div>
  </div>
</div>
{{/if}}

{{#if showAgentInstallationModal}}
  {{agent-installation-modal droplet=model.droplet onHide=(action "onHideAgentInstallation") }}
{{/if}}

{{#if showAgentReinstallModal}}
  {{agent-reinstallation-modal droplet=model.droplet onHide=(action "onHideAgentReinstallation") }}
{{/if}}

{{#unless loading}}

  {{#if notEnoughGraphData}}
    {{partial "droplet/partials/graphs-empty-state"}}
  {{else}}

    <div class="Box droplet_graphs {{if shouldSeeNewCharts "agent-installed"}}">

      {{#if (and agentCompatible shouldShowAgentInformationLink)}}
        <a role="button" data-toggle="modal" data-target="#agentInstructionsModal" class="install-agent-link u-mt-2 u-mb-2" {{action 'openAgentInstallationInstructions'}}>Learn how to update this Droplet for new metrics.</a>
      {{/if}}

      <div class="select-wrapper u-floatRight">
        <div class="Select">
          <select class="select" onchange={{action 'onChangeGraphPeriod' value="target.value"}}>
            <option value="hour" selected={{eq period 'hour'}}>6 hours</option>
            <option value="day" selected={{eq period 'day'}}>24 hours</option>
            <option value="week" selected={{eq period 'week'}}>7 days</option>
            <option value="month" selected={{eq period 'month'}}>30 days</option>
          </select>
        </div>
      </div>

      {{#unless shouldSeeNewCharts}}
        {{partial "droplet/partials/old-graphs"}}
      {{else}}
        {{partial "droplet/partials/new-graphs"}}
      {{/unless}}

    </div>

  {{/if}}
{{else}}
  {{loading-animation}}
{{/unless}}
