<div class="droplet-tags">
  {{#if emptyTags}}
    <div class="small-centered EmptyState Box u-pa-8">
      <div class="row">
        <img class="EmptyState-image" src="/assets/images/empty-tags.svg" alt="Empty tag">

        <div class="columns small-12 u-textAlignCenter">
          <h3>Tag your droplet</h3>
          <p class="u-mb-0">Tags are a great way to group droplets. Learn how to get the most out of tags by reading our {{#community-link slug="how-to-tag-digitalocean-droplets"}}community tutorial{{/community-link}}.</p>
          <div class="u-mt-3">
            <button class="Button Button--blue {{if dropletCtrl.isBusy 'is-disabled'}}" {{action "showEditTagsModel"}}>
              Add Tags
            </button>
          </div>
        </div>
      </div>
    </div>
  {{else}}
    <div class="Box u-mb-5">
      <h2>Tags</h2>
      <p>Tags are a great way to group droplets. Learn how to get the most out of tags by reading our {{#community-link slug="how-to-tag-digitalocean-droplets"}}community tutorial{{/community-link}}.</p>
      <div class="Row columns u-pl-0">
        {{#each tags as |tag index|}}
          {{#link-to 'tag' tag.name invokeAction=(action "tagClick" tag.name) }}
            {{token-item
              text=tag.name
              isGrey=true
              isStatic=false
            }}
          {{/link-to}}
        {{/each}}
      </div>
      <div class="Row u-ml-0">
        <button class="Button u-mt-4 toggle-edit {{if tags 'Button--basic' 'Button--blue'}}  {{if (or droplet.hasPendingTags dropletCtrl.isBusy) 'is-disabled'}}" {{action "showEditTagsModel"}}>
          {{#if tags}}Edit{{else}}Add{{/if}} Tags
        </button>
      </div>
    </div>
  {{/if}}

  {{#if showEditModal}}
    {{edit-tags-modal
      taggable=droplet
      saveTags='saveTags'
      queryTags='queryTags'
      searchResults=searchResults
      hideModal='hideEditTagsModal'
    }}
  {{/if}}
</div>
