<div class="aurora-volumes">
  {{!-- IF OLD DROPLETS NEED POWER CYCLE --}}

  {{#unless dropletCtrl.model.region.storageEnabled}}
    <div class="Box">
      <div class="row">
        {{partial "partials/volume-coming-soon"}}
      </div>
    </div>
  {{else}}
    {{#if (and dropletCannotAddVolumes (not dropletIsTogglingPower))}}
      <div class="Alert Alert--blue u-mb-5">
        <div class="Alert-content">
            <p>You must perform a power cycle on this Droplet to enable block storage volumes.</p>
            <a role="button" class="Button Button--alert {{if (or clickedCycleButton dropletCtrl.isBusy) "is-disabled"}}" {{action "powerCycleDroplet"}}>Power cycle now</a>
        </div>
      </div>
    {{/if}}

    {{!-- IF MODAL LIMIT REACHED  --}}
    {{#if (and (not isReadOnly) filteredModel.length (gte volumeCount volumeLimit))}}
      {{modal-limit-increase-form limitCount=volumeLimit }}
    {{/if}}

    <div class="Box">
      {{#if filteredModel.length}}
        {{#if atVolumeMax }}
          {{#tool-tip class="u-floatRight" title=maxVolumesMsg multiline=true}}
            <button class="Button Button--small u-floatRight u-mb-3 is-disabled">Add Volume</button>
          {{/tool-tip}}
        {{else}}
          <button class="Button Button--small u-floatRight u-mb-3 {{if (or isDisabled (gte volumeCount volumeLimit))"is-disabled"}}"  {{action "showAttachModal"}}>Add Volume</button>
        {{/if}}
        <h2>Volumes</h2>
          <div class="row">
            <div class="small-12 columns">
              <table>
                <thead>
                  <tr>
                    {{table-header action="sort" isLoading=sorting sortCol=sort sortDir=sort_direction col="name" text="Name"}}
                    {{table-header action="sort" isLoading=sorting sortCol=sort sortDir=sort_direction col="size_gigabytes" text="Size"}}
                    {{table-header action="sort" isLoading=sorting sortCol=sort sortDir=sort_direction col="created_at" text="Created"}}
                    {{table-header col="action" noSorting=true}}
                  </tr>
                </thead>
                <tbody>
                  {{#each filteredModel as |volume|}}
                    <tr>
                      <td class="storage__nameColumn">
                        {{#ellipsis-text text=volume.name}}
                          {{resource-item item=volume}}
                        {{/ellipsis-text}}
                      </td>
                      <td class="storage__sizeColumn">
                        {{#if (eq pendingVolume volume)}}
                          {{loading-indicator
                            action="onAttachComplete"
                            actionParams=volume
                            event=dropletCtrl.model.attachEvent}}
                        {{else if (and (not pendingVolume) dropletCtrl.model.attachEvent volume.attachEvent)}}
                          {{loading-indicator
                            action="onAttachComplete"
                            actionParams=volume
                            event=dropletCtrl.model.attachEvent}}
                        {{/if}}
                        {{bytes-to-human-size gb=volume.sizeGigabytes}}
                      </td>
                      <td class="storage__createdColumn">
                        {{date-to-human-time date=volume.createdAt}}
                      </td>
                      <td class="storage__actionColumn">
                        <div class="u-floatRight">
                          {{#if volume.deleting}}
                            {{loading-spinner message="Deleting"}}
                          {{else if (or (and dropletCtrl.model.resizeVolumeEvent volume.resizeEvent) volume.resizing)}}
                            {{loading-spinner message="Resizing"}}
                          {{else if (eq detachingVolume volume)}}
                            {{loading-spinner message="Detaching"}}
                          {{else if (and (not detachingVolume) dropletCtrl.model.detachEvent volume.detachEvent)}}
                            {{loading-spinner message="Detaching"}}
                          {{else}}
                            {{volumes-dropdown-menu
                              incrementCount="incrementCount"
                              volumeSnapshotLimitReached=volumeSnapshotLimitReached
                              isDisabled=isDisabled
                              title="More"
                              items=menuItems
                              action="menuItemClick"
                              createSnapshot="createSnapshot"
                              closeOnClick=true
                              snapshotName=snapshotName
                              actionParams=volume
                              tooltip=volume.tooltip
                              snapshotLimit=resourceLimits.volumeSnapshotLimit
                            }}
                          {{/if}}
                        </div>
                      </td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
              {{#if (gt volumes.meta.pagination.pages 1)}}
                {{paginator-full
                  isLoading=paginating
                  linkToPage="droplet.volumes"
                  pages=volumes.meta.pagination.pages
                  currentPage=volumes.meta.pagination.current_page
                  scrollToAfterLoad="#aurora-container"
                  action="changePage"
                }}
              {{/if}}
            </div>
          </div>
      {{else}}

        {{!-- EMPTY STATE --}}
        <div class="row">
          {{partial "partials/volume-empty-state"}}
        </div>
      {{/if}}
    </div>

    {{partial "partials/volume-footer"}}
  {{/unless}}

</div>
