<p>To update your PTR record please update your Droplet's hostname through the control panel.</p>
<table class="ptr__table">
  <thead>
    <tr>
      {{table-header action="sort" isLoading=sorting sortCol=sort sortDir=sort_direction col="ip_address" text="IP Address"}}
      {{table-header action="sort" isLoading=sorting sortCol=sort sortDir=sort_direction col="name" text="PTR Record"}}
    </tr>
  </thead>
  <tbody>
    {{#each model as |record|}}
      <tr>
        <td>{{record.ipAddress}}</td>
        <td>{{#link-to "droplet" record.dropletId}}
              {{#ellipsis-text text=record.name}}{{record.name}}{{/ellipsis-text}}
            {{/link-to}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{#if needsPagination}}
  {{paginator-full
    linkToPage="networking.ptr"
    isLoading=paginating
    pages=model.meta.pagination.pages
    currentPage=model.meta.pagination.current_page
    scrollToAfterLoad="#aurora-container"
    action="changePage"
  }}
{{/if}}