{{status-notification notifications=statusNotifications}}
{{news-modal
  news=news
  onError="onError"
}}
{{#unless (eq currentLocationPath  '/insights')}}
  {{#if (and model.isInHoldContext (not (or (eq currentLocationPath  '/settings/billing') (eq currentLocationPath  '/hold'))))}}
    <div class="row">
      <div class="Alert--neutralGrey u-mt-4">
        <div class="Alert-content">
          <p>Your {{if model.isOrganizationContext 'team'}} account has been placed on hold due to an overdue balance. {{#relative-link shortContextId=model.shortCurrentContextId href='/settings/billing'}}Pay your balance now.{{/relative-link}}</p>
        </div>
      </div>
    </div>
  {{else if (and model.hasEmptyBackupCodes (not (eq currentLocationPath  '/settings/security')))}}
    <div class="row">
      <div class="Alert--neutralGrey u-mt-4">
        <div class="Alert-content">
          <p><strong>You have used your last backup code.</strong> Don't get locked out of your account - generate new ones now. {{#link-to 'settings.security' class="Button--alert"}}<strong>Go To Security Settings</strong>{{/link-to}}</p>
        </div>
      </div>
    </div>
  {{/if}}
  {{nav-bar
    model=model
    pendingNotifications=pendingNotifications
    pendingNotificationsCount=pendingNotificationsCount
    currentLocationPath=currentLocationPath
    isOauthAuthPage=isOauthAuthPage
    isTeamCreationPage=isTeamCreationPage
    dropletCreateEventsDisabled=dropletCreateEventsDisabled
    switchContext="switchContext"
    isReadOnly=isReadOnly}}
{{/unless}}
<div class="aurora-body">
  {{outlet}}
</div>

{{outlet "modal"}}
{{notification-list}}

{{#if isSwitchingContext}}
  {{transition-context
    leftAvatarIsTeam=(not-eq currentContext.uuid currentContext.currentContextId)
    leftAvatarColor=currentContext.currentContext.avatarColor
    leftAvatarInitials=currentContext.currentContext.avatarInitials
    leftAvatarSrc=currentContext.avatar
    rightAvatarIsTeam=(not-eq newContext.currentContextId currentContext.currentContextId)
    rightAvatarColor=newContext.avatarColor
    rightAvatarInitials=newContext.avatarInitials
    rightAvatarSrc=currentContext.avatar
    onTransitionComplete="onSwitchContextTransitionComplete"
  }}
{{/if}}
