<div class="row">
  <div class="columns small-12 domain-header">
    {{#link-to "networking.domains"}}<span class="Icon--arrowLongLeft"></span>{{t "domains.show.breadcrumb.domains"}}{{/link-to}}
    <h1>{{model.name}}</h1>
  </div>
</div>

{{#if isNewDomain}}
  <div class="row">
    <div class="columns small-12">
      <div class="Alert domain-alert Alert--neutralGrey u-mb-5">
        <div class="Alert-content">
            <h3>
              What's next?
              <a role="button" class="Icon--close Alert-close" {{action "closeNewDomainAlert"}}></a>
            </h3>
            <p>
              You need to update your nameservers with your domain registrar for the records below to take effect.
              <a href="https://www.digitalocean.com/community/tutorials/how-to-point-to-digitalocean-nameservers-from-common-domain-registrars" target="_blank" rel="noopener noreferrer">Learn how to do that</a>
            </p>
        </div>
      </div>
    </div>
  </div>
{{/if}}

<div class="row">
  <div class="columns small-12">
    <h2>{{t "domains.show.header.create"}}</h2>
  </div>
</div>
<div class="row">
  <div class="columns small-12">
    <ul class="Tabs u-mb-4" role="tablist">
      {{#each recordTypes as |recordType|}}
        <li class="{{if (eq recordTab recordType) 'is-active'}}">
          <a role="button" {{ action 'changeRecordTab' recordType }}>{{recordType}}</a>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
<div class="row">
  <div class="columns small-12">
    <p>{{recordHelpText}}</p>
    {{#form-with-validation
      onSubmit="createRecord"
      submitButtonClasses="save-btn"
      isInlineForm=true
      disableFocusFirstEl=true
      revalidateOnPropertyChange=record
      submitButtonText="Create Record"
      isShowingSubmitLoader=saving
      spinnerClasses="save-spinner"
      className=(concat recordTypeClass " new-domain-form")
    }}
      {{#each formInputItems as |item|}}
        <div class="{{slugify (or item.header item.label)}}">
          <h4>{{or item.header item.label}}</h4>
          {{#unless item.autoComplete}}
            {{float-label-input
              pattern=item.pattern
              error=(or item.longErr item.err)
              placeholder=(or item.placeholder item.label)
              value=item.value
              required=true
            }}
          {{else}}
            {{auto-complete
              items=(if (eq record.recordType 'A') autoCompleteFormItems autoCompleteFormAAAAItems)
              isSearching=(if (eq record.recordType 'A') autoCompleteFormIsSearching autoCompleteFormAAAAIsSearching)
              isShowingMore=(if (eq record.recordType 'A') autoCompleteFormIsShowingMore autoCompleteFormAAAAIsShowingMore)
              disabledItemIndicies=(if (eq record.recordType 'A') disabledAutoCompleteItems disabledAutoCompleteFormAAAAItems)
              name=(if (eq record.recordType 'A') 'autoCompleteForm' 'autoCompleteFormAAAA')
              showIpMeta=true
              showIpv6=(eq record.recordType 'AAAA')
              placeholder=item.placeholder
              pattern=item.pattern
              onSelect="onSelectItem"
              error=item.err
              isRequired=true
            }}
          {{/unless}}
        </div>
      {{/each}}

      {{#if formInputHostNameItem.value}}
      <span class="hostname-preview">
        {{#if (eq formInputHostNameItem.value '@')}}
          {{model.name}}
        {{else}}
          <span class="prefix">{{formInputHostNameItem.value}}</span>.{{model.name}}
        {{/if}}
      </span>
      {{/if}}
    {{/form-with-validation}}
    {{#if (eq recordTab 'MX')}}
      <button class="Button domainForm--mx-gmail {{if savingMxRecords "is-disabled"}}" {{action "addMxRecords" 'gmail_mx_records'}}>Add Gmail MX Records
        {{#if savingMxRecords}}
          {{loading-spinner}}
        {{/if}}
      </button>
    {{/if}}
  </div>
</div>

<div class="row u-mt-4">
  <div class="columns small-12">
    <h2>{{t "domains.show.header.dns"}}</h2>
  </div>
</div>
{{#if filteredRecords.length }}
  <div class="row">
    <div class="columns small-12">
      <table class="domain-record-table">
        <thead>
          <tr>
            <th class="type">{{t "domains.show.tableHeader.type"}}</th>
            <th class="hostNames">{{t "domains.show.tableHeader.hostName"}}</th>
            <th class="value">{{t "domains.show.tableHeader.value"}}</th>
            <th class="ttl">{{t "domains.show.tableHeader.ttl"}}</th>
            <th class="action"></th>
          </tr>
        </thead>
        <tbody>
          {{#each filteredRecords as |record|}}
            {{domain-record-row
              record=record
              autoCompleteItems=(if (eq record.recordType 'A') autoCompleteItems autoCompleteAAAAItems)
              autoCompleteIsSearching=(if (eq record.recordType 'A') autoCompleteIsSearching autoCompleteAAAAIsSearching)
              autoCompleteIsShowingMore=(if (eq record.recordType 'A') autoCompleteIsShowingMore autoCompleteAAAAIsShowingMore)
              autoCompleteDisabledItemIndicies=(if (eq record.recordType 'A') disabledAutoCompleteItems disabledAutoCompleteAAAAItems)
              autoCompleteName=(if (eq record.recordType 'A') 'autoComplete' 'autoCompleteAAAA')
              resetAutoComplete='resetAutoComplete'
              controllerTarget=this
              saving=savingRecord
              saveRecord='saveRecord'
              deleteRecord='deleteRecord'
              editingRecord=editingRecord
              setEditingRecord='setEditingRecord'
            }}
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
{{else}}
  <div class="row">
    <div class="columns small-12">
      <div class="EmptyState Box">
        <img class="EmptyState-image" src="/assets/images/empty-dns.svg" alt="No DNS Records">
        <h3>{{t "domains.show.empty.header"}}</h3>
        <p>{{t "domains.show.empty.body"}}</p>
      </div>
    </div>
  </div>
{{/if}}
