<div class="droplet-show {{if model.hasBeenDestroyed "destroyed"}}">
  <div class="row">
    <div class="columns small-12">
      <div class="header">
        <div class="droplet-header u-mb-2">
          {{#if isReadOnly}}
            {{resource-item item=model noRegion=true showStorageLink=true wide=true showExtendedMeta=true}}
          {{else}}
            {{#if isEditing}}
              {{editable-resource-item validPattern="^\S*$" item=model noRegion=true showExtendedMeta=true showStorageLink=true wide=true submitEdit="renameDroplet" cancelEdit="undoRenameDroplet"}}
            {{else}}
              <div role="button" class="{{unless (or isBusy isRenaming isTogglingPower) "can-edit"}}" {{action "editDropletName"}}>
                {{#unless showLoader}}
                  {{resource-item item=model noRegion=true wide=true showExtendedMeta=true showSaving=(or model.renameEvent isRenaming) savingToolTip="Renaming Droplet"}}
                {{else}}
                  {{resource-item item=model noRegion=true wide=true showExtendedMeta=true showSaving=(or model.renameEvent isRenaming) savingToolTip="Renaming Droplet" loadingMessage=loaderAction hideStatus=model.createEvent loadingMessageClasses="loader-action async-done"}}
                  {{#if model.createEvent}}
                    {{droplet-status showBg=true status="new" isLoading=true}}
                  {{/if}}
                  <div class="loader-wrap">
                    {{loading-indicator noBg=true dontPoll=true action="asyncEventDone" siblingSelector=".loader-action" startFromDoneState=true transitionClass="async-done" event=model.currentlyPendingEvent}}
                  </div>
                {{/unless}}
              </div>
            {{/if}}
          {{/if}}
        </div>

        {{#tool-tip title=powerSwitchToolTip isDisabled=(or isReadOnly isBusy isTogglingPower isRenaming) class="toggle-wrap"}}
          {{toggle-switcher active=model.isPoweredOn onSwitchOn=(action 'powerUpDroplet') onSwitchOff=(action 'shutDownDroplet')}}
        {{/tool-tip}}

        {{#if isTogglingPower}}
          {{#tool-tip title=togglingMessage class="power-loader"}}
            {{loading-spinner}}
          {{/tool-tip}}
        {{/if}}
      </div>
    </div>
  </div>

  <div class="row networking-row">
    <div class="small-12 columns">
      <div class="sub-header">
        <span>
          <strong>{{t "droplets.show.subheader.ipv4"}}</strong>
          {{ip-address text=model.ipAddress}}
        </span>

        <span>
          <strong>{{t "droplets.show.subheader.ipv6"}}</strong>&nbsp;
          {{#if model.publicIpv6}}
            <span class="sub-header--publicIpv6">
              {{#ellipsis-text text=model.publicIpv6 removeStr="Copy"}}
                {{click-to-copy text=model.publicIpv6 parentSelector=".sub-header--publicIpv6"}}
              {{/ellipsis-text}}
            </span>
          {{else}}
            {{#if isReadOnly}}
              <span>{{t "droplets.show.subheader.disabled"}}</span>
            {{else}}
              {{#link-to 'droplet.networking' model}}{{t "droplets.show.subheader.enable"}}{{/link-to}}
            {{/if}}
          {{/if}}
        </span>

        <span>
          <strong>{{t "droplets.show.subheader.private-ip"}}</strong>&nbsp;
          {{#if model.privateIpv4}}
            {{click-to-copy text=model.privateIpv4}}
          {{else}}
            {{#if isReadOnly}}
              <span>{{t "droplets.show.subheader.disabled"}}</span>
            {{else}}
              {{#link-to 'droplet.networking' model}}{{t "droplets.show.subheader.enable"}}{{/link-to}}
            {{/if}}
          {{/if}}
        </span>

        <span>
          <strong>{{t "droplets.show.subheader.floating-ip"}}</strong>&nbsp;
          {{#if model.floatingIps.length}}
            {{click-to-copy text=model.floatingIps.firstObject.ip}}
          {{else}}
            {{#if isReadOnly}}
              <span>{{t "droplets.show.subheader.disabled"}}</span>
            {{else}}
              {{#link-to 'networking.floatingIp' (query-params float-dropletIp=model.ipAddress)}}{{t "droplets.show.subheader.enable"}}{{/link-to}}
            {{/if}}
          {{/if}}
        </span>

        {{#unless isReadOnly}}
          {{#if (and model.isPoweredOn (not isTogglingPower))}}
            <a role="button" class="console-link u-floatRight" {{action 'openConsole'}}>
            {{t "droplets.show.subheader.console"}}<span class="Icon--newWindow"></span></a>
          {{else}}
            {{#tool-tip title=(t "droplets.show.subheader.console.tooltip") class="u-floatRight"}}
              <span class="is-disabled u-lightgrey link">{{t "droplets.show.subheader.console"}}</span>
            {{/tool-tip}}
          {{/if}}
        {{/unless}}
      </div>
    </div>
  </div>

  <div class="row {{unless model.hasBeenDestroyed "u-mt-5" "u-mt-2"}}">
    {{#unless model.hasBeenDestroyed}}
    <div class="small-2 columns">
        <nav class="SideNav">
          <ul>
            {{#each dropletTabs as |item|}}
              {{#if showGraphsBeta}}
                {{#link-to item.action_name tagName="li" activeClass="is-active"}} <a class="{{if item.betaNew "beta-new"}} {{if (eq item.title "Graphs") "beta"}}" href="#"> {{item.title}} </a> {{/link-to}}
              {{else}}
                {{#link-to item.action_name tagName="li" activeClass="is-active"}} <a class="{{if item.betaNew "beta-new"}}" href="#"> {{item.title}} </a> {{/link-to}}
              {{/if}}
            {{/each}}
          </ul>
        </nav>
      </div>
    {{/unless}}

    {{#if model.hasBeenDestroyed}}
      <div class="small-12 u-mb-5 columns">
        <div class="Alert Alert--failure">
        <div class="Alert-content">This Droplet has been destroyed.</div>
        </div>
      </div>
    {{else}}
      {{#if model.hvDisabled}}
        <div class="small-10 u-mb-5 columns">
          <div class="Alert Alert--failure">
          <div class="Alert-content">Events for this Droplet are currently disabled while the hypervisor is under maintenance.</div>
          </div>
        </div>
      {{/if}}
    {{/if}}

    <div class="{{unless model.hasBeenDestroyed "small-10" "small-12"}} columns">
      {{outlet}}
    </div>

    {{#if showTurnOffModal}}
      {{#modal-window
        title="Turn off Droplet"
        saveText="Turn off"
        saveClasses="Button--red"
        contentClasses="turn-off-modal"
        size="large"
        onHide="onTurnOffModalHide"
        hasShowNoMore=true
        shouldOmitModal=shouldOmitModal
      }}
        <p>This action is the same as hard resetting the server and may cause data corruption. We recommend powering off your Droplet through the command line.</p>
        <p>Note that when you power off your Droplet you are still billed for it. This is because your diskspace, CPU, RAM, and IP address are all reserved while it is powered off.</p>
      {{/modal-window}}
    {{/if}}

  </div>
</div>
