<div class="row">
  <div class="columns small-12">
    {{#if (and (eq currentLocationPath '/settings/billing') model.isSuspended)}}
      <h1>Billing</h1>
    {{else}}
      <h1>Settings</h1>
    {{/if}}
  </div>
</div>
{{#if model.emptyState}}
  {{partial "settings/partials/empty-state"}}
{{else if (and (eq currentLocationPath '/settings/billing') model.isSuspended)}}
  <div class="row">
    <div class="columns small-12 settings">
      {{#if showLoader}}
        {{loading-animation}}
      {{else}}
        {{outlet}}
      {{/if}}
    </div>
  </div>
{{else}}
  <div class="row">
    <div class="columns small-2">
       {{partial "settings/partials/side-bar"}}
    </div>
    <div class="columns small-10 settings">
      {{#if showLoader}}
        {{loading-animation}}
      {{else}}
        {{outlet}}
      {{/if}}
    </div>
  </div>
{{/if}}
