<div class="row small-6">
  {{creation-steps
    step=step
    stepNames=stepNames
    initialHeader="Welcome to DigitalOcean"
    stepClass="no-hover"
  }}
</div>
<div class="row welcome-stages EmptyState Box small-6">
  <div class="small-11 small-centered columns">
    {{#if (eq step 1)}}
      <div class="u-textAlignCenter">
        <img class="EmptyState-image u-mb-0" src="/assets/images/empty-notifications.svg" alt="Complete">
        <h2>Confirm Email</h2>
        <p class="email-to-confirm">{{model.user.email}}</p>
        <p>Confirm your email by clicking the verification link we just sent to your inbox.</p>
        <button {{action "resendEmail"}} class="action Button Button--blue Button--fullWidth u-mt-2 u-mb-3">Resend Invite</button>
      </div>
    {{/if}}
    {{#if (eq step 2)}}
      {{onboarding-billing-form
        model=model
        billingTab=billingTab
        number=number
        cvv=cvv
        expiry=expiry
        name=name
        firstname=firstname
        lastname=lastname
        address=address
        city=city
        state=state
        zip=zip
        country=country
        phone=phone
        payPalAmount=payPalAmount
        billingService=billingService
        onStripeSuccess=(action 'onStripeSuccess')
        savingCreditCard=savingCreditCard
      }}
    {{/if}}
    {{#if (eq step 3)}}
      <div class="u-textAlignCenter">
        <img class="EmptyState-image u-mb-0" src="/assets/images/empty-team.svg" alt="Complete">
        <h2>Ready to go!</h2>
        <p>Get going on DO by deploying your first Droplet (an SSD cloud server) now. It’s easy!</p>
        {{#link-to "droplet_create" class="Button Button--blue Button--fullWidth u-mt-2"}}Create a new Droplet{{/link-to}}
      </div>
    {{/if}}
  </div>
</div>
{{#if (and (eq step 2) (eq billingTab 'credit-card') (not model.pageLoadTime))}}
  <div class="row u-mt-4 u-textAlignCenter">
    <a role="button" {{action 'togglePromoModal'}}>
      {{#if appliedPromo}}
        Promo code is valid
      {{else}}
        Have a Promo Code?
      {{/if}}
    </a>
  </div>
{{/if}}
{{#if showPromoModal}}
  {{#modal-window size="small" onHide="onModalHide" bodyClasses="u-pb-3" contentClasses="confirm-small"  saveClasses="Button--blue Button-fullWidth u-mr-5" showCancel=false showSave=false title="Promo Code"}}
    <p>Promo code will be applied after valid payment option is submitted.</p>
    {{promo-form
      onSubmit=(action "updatePromoCode")
      promo=promo
      submitButtonWrapperClasses="u-mb-3"
      submitButtonText="Apply Code"
    }}
  {{/modal-window}}
{{/if}}
