<div class="security-groups-create row">
  <h1>Create Firewall</h1>

  {{#form-with-validation
    onSubmit="createSecurityGroup"
    submitButtonText="Create Firewall"
    submitButtonColor="green"
    isShowingSubmitLoader=isSubmittingSecurityGroup
    disabledSubmit=disabledSubmit
  }}
    <section class="row u-mb-5">
      <div class="small-8 columns">
        <h2>Name</h2>
        {{float-label-input
          class="security-group-name"
          value=name
          required=true
          validateOnInput=true
          placeholder="Name"
          customValidation=validateName
          setErrorMessage=setNameErrorMessage
          maxlength="255"
        }}
      </div>
    </section>
    <section class="row u-mb-1">
      <div class="small-8 columns">
        <h2>Rules</h2>
        <p>Set the security rules for this Firewall. Only the ports specified
        will be open to communicate.</p>
      </div>
    </section>
    <section class="row u-mb-5">
      <div class="small-8 columns">
        <ul class="Tabs" role="tablist">
          <li role="presentation" class="is-active">
            <a href="#inbound-rules" aria-controls="inbound-rules" role="tab" data-toggle="tab">Inbound ({{inbound.length}})</a>
          </li>
          <li role="presentation">
            <a href="#outbound-rules" aria-controls="outbound-rules" role="tab" data-toggle="tab">Outbound ({{outbound.length}})</a>
          </li>
        </ul>

        <div class="Tabs-content">
          <div role="tabpanel" class="Tabs-pane is-active" id="inbound-rules">
            {{security-groups/rules
              type="inbound"
              rules=inbound
              hasMaxRules=hasMaxRules
              onRuleAdd=(action "onRuleAdd")
              onRuleChange=(action "onRuleChange")
              onRuleRemove=(action "onRuleRemove")
              onValidityChange=(action "onValidityChange")
              batchEditable=true}}
          </div>
          <div role="tabpanel" class="Tabs-pane" id="outbound-rules">
            {{security-groups/rules
              type="outbound"
              rules=outbound
              hasMaxRules=hasMaxRules
              onRuleAdd=(action "onRuleAdd")
              onRuleChange=(action "onRuleChange")
              onRuleRemove=(action "onRuleRemove")
              onValidityChange=(action "onValidityChange")
              batchEditable=true}}
          </div>
          {{#if noRules}}
            <div class="Alert Alert--failure">
              <div class="Alert-content">
                <p>
                  You must define at least one inbound or outbound rule.
                </p>
              </div>
            </div>
          {{/if}}
        </div>
      </div>
    </section>
    <section class="row u-mb-5">
      <div class="small-8 columns">
        <h2>Droplets (optional)</h2>
        <p>Apply this Firewall to Droplets or groups of tagged Droplets.</p>
        {{#validated-field-wrapper
          warningMessage=targetsMessage
        }}
          <div class="fw-target-selector">
            {{target-selector
              targets=dropletsAndTags
              searchResults=targetSearchResults
              queryTargets=(action "queryTargets")
            }}
          </div>
        {{/validated-field-wrapper}}
      </div>
    </section>
  {{/form-with-validation}}
</div>
