<div class="row u-mb-7">
	<div class="columns small-12">
		<h2>Choose a size</h2>
		
		{{#if (gte sizeCategoriesUniq.length 2) }}
			<ul class="Tabs u-mb-4 " role="tablist">
				{{#each sizeCategoriesUniq as |cat|}}
					<li role="presentation" class="{{if (eq sizesProps.sizesTab cat) 'is-active'}} {{if (eq sizesProps.selectedsizesTab cat) 'has-selected-size'}}">
						<a aria-controls="{{slugify cat}}" role="tab" {{ action 'changeSizesTab' cat }}>{{cat}}</a>
					</li>
				{{/each}}
			</ul>
		{{/if}}

		<div class="Tabs-content">
			{{size-chooser-list
				sizes=filteredSizes
				columns=6
				noToggling=true
				action="onSelectSize"
				type="droplet"
			}}
		</div>

	</div>
</div>
