{{#if droplets}}
  {{#unless isReadOnly}}
    <div class="Box u-mb-5">
      <h2>Enable backups</h2>
      <p class="small-12">A backup is an automatic snapshot of your droplet. Backups are made once a week and retained for four weeks. Once enabled, backups add 20% to monthly Droplet cost.</p>
      {{partial "images/backups/partials/form"}}
    </div>
  {{/unless}}
  <div class="Box backups-box">
    <section class="row">
      <div class="small-12 columns">
        <h2>Droplet backups</h2>
        <table class="images__table backups__table">
          <thead>
            <tr>
              {{table-header action="sort" isLoading=sorting sortCol=sort sortDir=sort_direction col="name" text="Droplet"}}
              {{table-header col="action" noSorting=true}}
            </tr>
          </thead>
          <tbody>
            {{#each droplets as |droplet|}}
              {{#if droplet.backupsCount}}
                <tr>
                  <td class="backups__nameColumn">
                    {{resource-item item=droplet}}
                    {{backups-drawer
                      backups=droplet.backups
                      showBackups=droplet.showBackups
                      restoreBackupAction="restoreBackupById"
                      createFromBackupAction="createFromBackupById"
                      convertToSnapshotAction="convertToSnapshotById"
                      isReadOnly=isReadOnly
                    }}
                  </td>
                  <td class="backups__actionColumn">
                    <div class="u-floatRight">
                      {{#if (or droplet.isRestoring droplet.restoreEvent)}}
                        {{loading-spinner message="Restoring"}}
                      {{else if droplet.isConvertingBackupToSnapshot}}
                        {{loading-spinner message="Converting"}}
                      {{else}}
                        {{backups-show-more isOpen=droplet.showBackups numBackups=droplet.backupsCount action="toggleShowBackups" isLoading=droplet.isLoadingBackups actionParam=droplet}}
                      {{/if}}
                    </div>
                  </td>
                </tr>
              {{/if}}
            {{/each}}
          </tbody>
        </table>
        {{#if needsPagination}}
          {{paginator-full
            linkToPage="images.backups"
            isLoading=paginating
            scrollToAfterLoad="#aurora-container"
            pages=droplets.meta.pagination.pages
            currentPage=droplets.meta.pagination.current_page
            action="changePage"
          }}
        {{/if}}
      </div>
    </section>
  </div>
  {{partial "images/partials/restore-image-modal"}}
{{else}}
  <div class="EmptyState Box">
    <img class="EmptyState-image" src="/assets/images/empty-backups.svg" alt="Empty backups">
    <h3>Looks like you don’t have any backups.</h3>
    <p class="small-10 small-centered">A backup is an automatic snapshot of your droplet. Backups are made once a week and retained for four weeks. Once enabled, backups add 20% to monthly Droplet cost.</p>
    {{#unless isReadOnly}}
      <div class="u-ml-8 u-mr-8">
        {{partial "images/backups/partials/form"}}
      </div>
    {{/unless}}
  </div>
{{/if}}
