{{#if pendingTransfers}}
  {{partial "images/partials/pending-snapshot-transfer-requests"}}
{{/if}}

{{#if snapshotCount}}
  {{#unless isReadOnly}}

    {{#if volumeSnapshotLimitReached}}
      {{modal-limit-increase-form 
        limitCount=resourceLimits.volumeSnapshotLimit
        limitType="volume snapshot"
        modalTitle="Increase volume snapshot limit"
        size="medium"
        bodyMessage="To prevent abuse, we limit how many snapshots are available. If you'd like to increase your limit, please fill out this form."
        alertBody=(concat "To keep more than " resourceLimits.volumeSnapshotLimit " volume snapshots, please request an increase for your account.")
      }}
    {{/if}}
    <section class="Box u-mb-5">
      <div class="u-mb-0" id="snapshot">
        <h2>Take a Snapshot</h2>
        <p>Power-down Droplets before taking a snapshot to ensure data consistency. Snapshots cost is based on space used and charged at a rate of ${{PRICE_PER_GB}}/GB/mo.</p>
        {{partial "images/partials/form"}}
      </div>
    </section>
  {{/unless}}
  <div class="Box">
    <div class="row">
      <div class="small-12 columns">
        <h2>Snapshots</h2>
      </div>
    </div>
    <div class="row">
      {{#if volumeSnapshotsEnabled}}
        <div class="columns small-12">
          <ul class="Tabs u-mb-4" role="tablist">
            {{#link-to 'images.snapshots.droplets' tagName="li" activeClass="is-active"}}<a>Droplets</a>{{/link-to}}
            {{#link-to 'images.snapshots.volumes' tagName="li" activeClass="is-active"}}<a>Volumes</a>{{/link-to}}
          </ul>
        </div>
      {{/if}}
      <div class="columns small-12 snapshots-wrap">
        {{outlet}}
      </div>
    </div>
  </div>
{{else if (or volumeCount dropletCount)}}
  <div class="EmptyState Box u-mb-5">
    <img class="EmptyState-image" src="/assets/images/empty-snapshots.svg" alt="Empty snapshots">
    <h3>Looks like you don’t have any snapshots</h3>
    <p class="u-pl-6 u-pr-6">
      Snapshots allow you to manually copy and store an image of your entire Droplet or volume. Snapshots can be taken live, however we recommend powering down Droplets beforehand to ensure data consistency. Snapshots cost is based on space used and charged at a rate of ${{PRICE_PER_GB}}/GB/mo
    </p>
    {{#unless isReadOnly}}
      <div class="row">
        <div class="columns small-11 small-centered">
          {{partial "images/partials/form"}}
        </div>
      </div>
    {{/unless}}
  </div>
{{else}}
  <div class="EmptyState Box u-mb-5">
    <img class="EmptyState-image" src="/assets/images/empty-snapshots.svg" alt="Empty snapshots">
    <h3>Looks like you don't have any snapshots</h3>
    <p>Snapshots are created from Droplets and volumes, so you'll need to create one of those first.</p>
    {{#unless isReadOnly}}
      {{#link-to 'droplet_create' class="Button Button--blue"}}Create Droplet{{/link-to}}
    {{/unless}}
  </div>
{{/if}}
