<div class="columns small-12">
  <strong>Manage Access</strong>
  <p>You will have complete read and write access to your new space. Select whether to make your Space publically readable below.</p>
  <div class="radio inputs-wrap {{if savingAcl "is-disabled"}}">
    {{radio-button checked=radioValue radioChange='aclChanged' value='public-read' id='public'}}
    <span></span>
    <label for="public">Public</label>
  </div>

  <div class="radio inputs-wrap {{if savingAcl "is-disabled"}}">
    {{radio-button checked=radioValue value='private' radioChange='aclChanged' id='private'}}
    <span></span>
    <label for="private">Private</label>
  </div>
  {{#if savingAcl}}
    {{loading-spinner spinnerClass="aclSpinner"}}
  {{/if}}
</div>

<div class="columns small-12 u-mt-7 u-mb-8">
  <strong>Add CORS</strong>
  <p>Cross-origin resource sharing enables you to selectively allow web applications to access your space</p>
  <div class="inputs-wrap {{if savingCors "is-disabled"}}">
    {{check-box checked=corsIsChecked checkboxChange='corsChanged' label="Add CORs"}}
  </div>
  {{#if savingCors}}
    {{loading-spinner spinnerClass="corsSpinner"}}
  {{/if}}
</div>
