<div class="row referrals">
  <div class="Box u-mb-5">
    <h2>Give ${{stats.bonus_amount}}, Get ${{stats.payout_amount}}</h2>
    <p>Everyone you refer gets ${{stats.bonus_amount}} in credit. Once they’ve spent ${{stats.payout_amount}} with us, you'll get ${{stats.payout_amount}}. There is no limit to the amount of credit you can earn through referrals.</p>
  </div>

  <div class="Box u-mb-5">
    <h2>Refer by email</h2>
    <p>Import your contacts from Gmail – or enter your contacts manually – and we’ll invite them for you.</p>

    {{#if referralLimit}}
      <div class="row u-mt-4">
        <div class="small-4 columns">
          <button class="Button Button--blue Button--fullWidth" {{action "showReferralModal"}}>Invite Contacts</button>
        </div>
      </div>
    {{else}}
      <p>You've reached your referral limit for today.</p>
    {{/if}}
  </div>

  <div class="Box u-mb-5">
    <h2>Share your link</h2>
    <p>Copy your personal referral link and share it with your friends and followers.</p>

    <div class="row u-mt-4">
      <div class="small-9 columns">
        <h4>Referral Link</h4>
        {{click-to-copy text=(concat "https://m.do.co/c/" stats.referral_code) class="copy-referral-url"}}
      </div>

      <div class="small-3 columns">
        <h4>Share Via</h4>
        <a class="Button Button--fullWidth" data-user={{twitterUser}} href="http://twitter.com/share?text=Easily deploy an SSD cloud server on @DigitalOcean in 55 seconds. Sign up using my link and receive $10 in credit: https://m.do.co/t/{{stats.referral_code}}" id="twitter-referral-share" target="_blank" title="Share on Twitter" rel="noopener noreferrer">Twitter</a>
      </div>
    </div>
  </div>

  <div class="u-mb-5">
    <h2>Referral stats</h2>
    <table class="referrals-stats-table">
      <tbody>
        <tr>
          <td><h4 class="u-mb-0">Clicks</h4></td>
          <td>Number of times your link has been clicked.</td>
          <td>{{stats.clicks}}</td>
        </tr>
        <tr>
          <td><h4 class="u-mb-0">Referrals</h4></td>
          <td>People who have signed up using your link.</td>
          <td>{{stats.referrals}}</td>
        </tr>
        <tr>
          <td><h4 class="u-mb-0">Pending</h4></td>
          <td>Amount you stand to earn when your referrals have spent $25.</td>
          <td>${{stats.pending}}</td>
        </tr>
        <tr>
          <td><h4 class="u-mb-0">Earned</h4></td>
          <td>Amount that will be applied to your account balance.</td>
          <td>${{stats.earned}}</td>
        </tr>
        <tr>
          <td><h4 class="u-mb-0">Paid</h4></td>
          <td>Amount that has already been applied to your account.</td>
          <td>${{stats.paid}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  {{#if isPaypalPayout}}
    <div class="Box u-mb-5">
      <h2>Payout options</h2>
      <p>You've selected to receive your referral payouts via PayPal. If you would like to switch to receiving your payout as DigitalOcean credit instead please click "Switch to Credits" below. Please note that this change is not reversible, so if you select credits as your payout method, you will be unable to switch back to PayPal.</p>
      <button class="Button u-mt-3 button-switch-to-credits" {{action "switchToCredits"}}>
        Switch to Credits
        {{#if isSwitchingPayout}}
          {{loading-spinner spinnerClass="spinner-payout"}}
        {{/if}}
      </button>
    </div>
  {{/if}}

  <div class="u-mb-5">
    <p class="small-dark">Please note: Bidding on branded keywords which include 'digitalocean' and/or 'digital ocean' for ads is prohibited.</p>
  </div>

  {{#if isReferralModalVisible}}
    {{#modal-window bodyClasses="referrals-modal" size="medium" onHide="hideReferralModal" showSave=false showCancel=false}}
      {{invitation-form
        onSubmitInvites="onSubmitReferrals"
        authenticateGmail="authenticateGmail"
        isGmailAuthenticated=isGmailAuthenticated
        isSubmittingInvites=isSubmittingReferrals
        title="Invite your friends"
        description=(concat "Invite your contacts that you'd like to send a $" stats.bonus_amount " credit to.")
        submitLabel="Send"
        submitCountLabel="Invite"
        creditMultiplier=stats.payout_amount
        creditDescription="in potential account credits"
        maxInvites=referralLimit
      }}
    {{/modal-window}}
  {{/if}}
</div>
