<table class="u-mb-3 stack-section api-table">
  <thead>
    <tr>
      {{table-header col="long-name" noSorting=true text="Name"}}
      {{table-header col="created_at" noSorting=true text="Created"}}
      {{#unless isReadOnly}}
        {{table-header col="action" noSorting=true}}
      {{/unless}}
    </tr>
  </thead>
  <tbody>
    {{#each apps as |application|}}
      <tr>
        <td class="long-name">
            {{#ellipsis-text text=application.name text2=application.url}}
              {{application.name}}
              {{#if application.url}}
                <span class="small">({{application.url}})</span>
              {{/if}}
            {{/ellipsis-text}}
        </td>
        <td class="created">
          {{date-to-human-time date=application.createdAt}}
        </td>
        {{#unless isReadOnly}}
          <td class="action stackRight">
            <div class="actions">
              {{#if application.isBeingRevoked}}
                {{loading-spinner message="Revoking"}}
              {{else}}
                {{#tool-tip title="Revoke"}}
                  <a role="button" class="Button Button--icon Button--red Icon--close" {{action 'revoke' application}}></a>
                {{/tool-tip}}
              {{/if}}
            </div>
          </td>
        {{/unless}}
      </tr>
    {{/each}}
  </tbody>
</table>
