{{search-input placeholder=placeholder error=error pattern=pattern isRequired=(and isRequired pattern (not selectedItem)) value=searchValue isLoading=isSearchingSpinner onInput="onInput"}}
{{#if (and selectedItem (not dontShowSelected))}}
  {{resource-item showClose=showCloseButton expandImageName=true selected=true showIpMeta=showIpMeta showIpv6=showIpv6 showSlugMeta=showSlugMeta item=selectedItem showTitle=true}}
{{/if}}

{{#if showList}}
  <div class="list-wrap">
    <ul>
    {{#unless isRefreshing}}
      {{#if hasItems}}
        {{#each dropdownItems as |item index|}}
          {{auto-complete-item item=item disabledIndicies=autoCompleteDisabledItemIndicies index=index hoverIndex=hoverIndex showIpMeta=showIpMeta showIpv6=showIpv6 showTitle=true}}
        {{/each}}
        {{#if isShowingMore}}
          <li class="show-more">
            {{loading-spinner spinnerClass="show-more-loader"}}
          </li>
        {{/if}}
      {{else}}
        <li class="no-results">No results found</li>
      {{/if}}
    {{else}}
      <li class="show-more">
        {{loading-spinner spinnerClass="show-more-loader"}}
      </li>
    {{/unless}}
    </ul>
  </div>
{{/if}}
