{{#if isTeam}}
  <span class="context-avatar {{if isTiny "context-avatar-tiny"}}">
    <span class="avatar-image b-{{color}}">
      <span class="initials">{{initials}}</span>
    </span>
    {{#if src}}
      <img class="avatar-small" src="{{src}}" alt="">
    {{/if}}
  </span>
{{else}}
  {{#if isTiny}}
    <span class="context-avatar context-avatar-tiny">
      <img class="avatar-tiny" src="{{src}}" alt="">
    </span>
  {{else}}
    <div class="avatar avatar-overlay"></div>
    <img class="avatar" src="{{src}}" alt="">
  {{/if}}
{{/if}}
