<span role="button" class="dropdown-title {{if isOpen "Open"}}" {{action 'toggle'}}>{{title}}
  <span class="Icon--arrowDown"></span>
</span>
<div class="menu-dropdown">
  <div class="menu-dropdownView">
    <ul class="menu-dropdownItems no-delete">
      <li role="button" {{action 'convertToSnapshot'}}>Convert to snapshot</li>
      <li role="button" {{action 'createFrom'}}>Create Droplet</li>
      <li role="button" {{action 'restore'}}>Restore Droplet</li>
    </ul>
  </div>
</div>
