{{#form-with-validation
  disabled=savingCreditCard
  autocomplete="on"
  onSubmit="onCCSubmit"
  submitButtonIcon="Icon--lock"
  submitButtonText="Save Card"
  isShowingSubmitLoader=isShowingSubmitLoader
  disableFocusFirstEl=disableFocusFirstEl
  actionReceiver=actionReceiver}}
  <fieldset>
    <legend>Card Details</legend>
    <div class="row">
      <div class="small-6 columns is-sensitive">
        {{float-label-input inputClasses="cc-num" validateInput=validateCCInput value=number error=ccError autocomplete="cc-number" placeholder="Credit / Debit Card Number"}}
        <span class="credit-card-icon {{ccType}}"></span>
      </div>
      <div class="small-3 columns is-sensitive">
        {{float-label-input value=expiry inputClasses="cc-expiry" validateInput=validateExpiryInput error=expiryError autocomplete="cc-exp" placeholder="MM / YYYY"}}
      </div>
      <div class="small-3 columns is-sensitive">
        {{float-label-input value=cvv ccType=ccType validateInput=validateCVVInput inputClasses="cc-cvc" error=cvvError placeholder="CVV" postfixTooltip=cvvTip}}
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Billing Address</legend>
    <div class="row">
      <div class="small-6 columns">
        {{float-label-input value=firstname error="First Name cannot be blank" required=true placeholder="First Name"}}
      </div>
      <div class="small-6 columns">
        {{float-label-input value=lastname error="Last Name cannot be blank" required=true placeholder="Last Name"}}
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns is-sensitive">
        {{float-label-input value=address error="Street Address cannot be blank" required=true placeholder="Street Address"}}
      </div>
    </div>
    <div class="row">
      <div class="small-4 columns">
        {{float-label-input value=city error="City cannot be blank" required=true placeholder="City"}}
      </div>
      <div class="small-4 columns">
        {{float-label-input value=state error="State cannot be blank" required=true placeholder="State / Region"}}
      </div>
      <div class="small-4 columns">
        {{float-label-input value=zip error="Postal Code cannot be blank" required=true placeholder="Postal Code"}}
      </div>
    </div>
    <div class="row">
      <div class="small-6 columns">
        <div class="select-wrapper FloatLabel">
          <div class="Select">
            <select class="select is-required" name="country" aria-label="Country" required="required" onChange={{action "onCountryChange"}}>
              <option disabled selected value></option>
              {{#each countries as |country|}}
                <option value={{country.iso}}>{{country.name}}</option>
              {{/each}}
            </select>
          </div>
        </div>
      </div>
      <div class="small-6 columns">
        {{float-label-input value=phone error="Phone Number cannot be blank" required=true placeholder="Phone Number"}}
      </div>
    </div>
  </fieldset>
{{/form-with-validation}}
<p class="u-mt-4 u-textAlignCenter u-grey">* All Fields Required</p>
