<td class="small-10 columns u-mb-3 u-pb-0">
  <p class="u-mb-0">
    <b>{{card.billingName}}</b>
    {{#if card.lastFour}}
      xxxx-<b>{{card.lastFour}}</b>
    {{/if}}
  </p>
  <p class="small">
    {{#if expiresDate}}
      <span>
        {{#if isExpired}}
          Expired {{expiresDate}}
        {{else}}
          Expires {{expiresDate}}
        {{/if}}
      </span>
    {{/if}}
    &#8226;
    <span>Added on {{format-date card.createdAt format="MM/DD/YYYY" isUTC=false}}</span>
  </p>
</td>
<td class="small-2 columns">
  <button {{action 'showDeleteModal'}} class="Button Button--small Button--icon Button--iconOnly Icon--close Button--red{{if deletingCard 'is-disabled'}} u-floatRight u-mt-2"></button>
</td>

{{#if showDeleteModal}}
  {{#modal-window title="Remove Credit Card" contentClasses="confirm-small" size="small" saveText="Remove" saveClasses="Button--red" onHide="confirmDelete"}}
    <p>Are you sure you want to remove your credit card?</p>
  {{/modal-window}}
{{/if}}
