{{#if isEditing}}
  <td colspan="5">
    {{#form-with-validation
      onSubmit="onRowSave"
      submitButtonClasses="save-btn"
      disableFocusFirstEl=true
      disabledSubmit=(not hasEdited)
      isShowingSubmitLoader=saving
      spinnerClasses="save-spinner"
      isInlineForm=true
      submitButtonText=(t "domains.show.tableRow.saveBtn")
    }}
      <div class="type">
        {{record.recordType}}
      </div>
      <div class="hostNames">
        {{record.name}}
      </div>
        {{editable-cell
          className="value"
          items=valueItems
          record=record
          target=controllerTarget
          _ac_onShowMoreScroll='_ac_onShowMoreScroll'
          _ac_onInput='_ac_onInput'
          autoCompleteItems=autoCompleteItems
          autoCompleteIsSearching=autoCompleteIsSearching
          autoCompleteIsShowingMore=autoCompleteIsShowingMore
          autoCompleteDisabledItemIndicies=autoCompleteDisabledItemIndicies
          autoCompleteName=autoCompleteName
        }}
      {{editable-cell className="ttl" items=ttlItems}}
    {{/form-with-validation}}
  </td>
{{else}}
  <td class="type">
    {{record.recordType}}
  </td>
  <td class="hostNames">
    <div class="click-to-copy-wrap">
      {{click-to-copy text=record.name}}
    </div>
  </td>
  <td class="value editable">
    {{#if record.data}}
      <span class="domainRow--prefix">{{valuePrefix}}</span>
      <div class="click-to-copy-wrap">
        {{click-to-copy text=record.dataRecord}}
      </div>
    {{/if}}
    {{#if record.priority}}
      {{#tool-tip title=(t "domains.show.tableRow.priorityToolTipPrefix" priority=record.priority)}}
        <span class="priority">{{record.priority}}</span>
      {{/tool-tip}}
    {{/if}}
  </td>
  <td class="ttl editable">
    {{#if record.ttl}}
      {{click-to-copy text=record.ttl}}
    {{/if}}
  </td>
  <td class="u-textAlignRight">
    {{#unless isReadOnly}}
      {{#if record.isDeleted}}
        {{loading-spinner message="Deleting"}}
      {{else}}
        {{slide-out-dropdown-menu
          title="More"
          items=menuItems
          action="menuItemClick"
          closeOnClick=true
          actionParams=record
          deleteAction="deleteRecord"
          deleteTitle="Confirm Delete Record"
          deleteButton="Delete Record"
        }}
      {{/if}}
    {{/unless}}
  </td>
{{/if}}
