{{#modal-window
  title=editModalTitle
  contentClasses="tag-edit-modal"
  bodyClasses="u-pt-0"
  size="medium"
  onHide=(action "onEditTagsModalHide")
  showCancel=false
  showSave=false
}}
  {{tags-editor
    tags=editModalTags
    updateTags=(action "updateTags")
    queryOnInput=(action "queryTags")
    unsortedSearchResults=searchResults
  }}
  <button type="submit" class="Button Button--fullWidth u-mt-4 Button--blue {{if savingTags 'is-disabled'}}" {{action 'onEditTagsSave' preventDefault=false}}>
    {{editModalSaveButtonText}}
    {{#if savingTags}}
      {{loading-spinner plain=true}}
    {{/if}}
  </button>
{{/modal-window}}
