{{#modal-window title=title size="medium" onHide=(action "hide") showCancelButton=false showSave=false bodyClasses="u-pt-0"}}
  <form autocomplete="off" class="u-ma-0">
    <p class="u-mb-5">
      Using an authenticator app like <a href="https://support.google.com/accounts/answer/1066447?hl=en" target="_blank" rel="noopener noreferrer">Google Authenticator</a> or <a href="https://duo.com/product/trusted-users/two-factor-authentication/duo-mobile" target="_blank" rel="noopener noreferrer">Duo</a>, scan the QR code. It will display a 6 digit code which you need to enter below.
    </p>
      <div class="u-textAlignCenter u-mb-5 qrCodeHolder">
        {{#if hasQrCode}}
          <canvas id="qrcode-canvas" class="is-sensitive" width="159px" height="159px"></canvas>
        {{else}}
          <div class="placeholder">
            <div class="Loader--basic Loader--blue"></div>
          </div>
        {{/if}}
      </div>
    <p>
      {{#if showManualEntry}}
        <span class="is-sensitive">Select manual entry on your app, and enter your username ({{username}}) and the code: {{manualCode}}</span>
      {{else}}
        Having trouble scanning the code? <a role="button" {{action "showManualInstructions"}}>Try this instead</a>.
      {{/if}}
    </p>
    <div class="row">
      <div class="columns small-8">
        {{input type="text" name=code value=code placeholder="Enter authentication code" maxlength=6 class="is-sensitive u-mb-0"}}
      </div>
      <div class="columns small-4">
        <button class='Button Button--blue Button--large Button--fullWidth {{if (or disabledSubmit loading) 'is-disabled'}}' {{action "onSubmit"}}>Submit{{#if loading}}{{loading-spinner spinnerClass="u-ml-2" plain=true}}{{/if}}</button>
      </div>
    </div>
  </form>
{{/modal-window}}
