<div role="button" class="openFeedback Button {{unless active 'active'}}" {{action 'open'}}>
  <span>Feedback?</span>
</div>
<div class="feedback Box {{if active 'active'}}">
  <span role="button" class="Icon--close" {{action 'close'}}></span>
  <div class="row u-mb-3">
    <div class="small-12 columns">
      <p>We're making this monitoring product to fit <i>your</i> needs. We'd love to hear feedback about what we could do to make this page more useful to you. What do you wish this page would do?</p>
    </div>
  </div>
  <form class="u-mb-0" accept-charset="UTF-8" action="{{formKeepUrl}}" method="POST" target="_blank">
    <input type="hidden" name="utf8" value="✓">
    <div class="row">
      <div class="columns small-12">
        <textarea type="text" name="wish" placeholder="I wish this page..." />
      </div>
      <div class="columns small-12 u-textAlignRight">
        <input type="submit" value="Submit" class="Button Button--blue" {{action 'submit'}}>
      </div>
    </div>
  </form>
</div>
