{{#if isInlineForm}}
  <div class="form--inline {{if disabled "is-disabled"}}">
    {{yield}}
    {{partial "components/partials/form-with-validation-submit-buttons"}}
  </div>
{{else}}
  <div class="{{if disabled "is-disabled"}}">
    {{yield}}
    <div class='row u-mt-3'>
      <div class='small-12 columns buttons-col'>
          {{partial "components/partials/form-with-validation-submit-buttons"}}
      </div>
    </div>
  </div>
{{/if}}
