<a role="button" {{action 'click'}} class="Button Button--hoverable {{if loading 'is-disabled'}} {{if (and hovered (not loading)) hoverClasses defaultClasses}}"><span class="action">{{text}}</span>{{#if loading}}{{loading-spinner plain=true}}{{/if}}</a>
