{{#if (and isEditable isTyping)}}
  {{input type="text" name=id class="input-box-value" value=inputValue maxlength=maxlength}}
{{else}}
  <div tabindex="0" class="input-box-value" {{action "setFocus" bubbles=false}}>
    {{prefix}}{{value}}
  </div>
{{/if}}
<label for="{{id}}" class="input-box-label">
  {{#if error}}
    {{error}}
  {{else}}
    {{label}}
  {{/if}}
</label>