<div class="row">
  <div class="small-12 columns">
    <h2 class="u-textAlignCenter">{{title}}</h2>
  </div>
</div>
<div class="row">
  <div class="{{if isInModal 'columns' 'small-10 columns small-centered'}}">
    <p class="u-textAlignCenter">{{description}}</p>
  </div>
</div>
{{#if (not isGmailAuthenticated)}}
  <div class="row">
      <div class="small-6 columns small-centered u-mt-3">
        <button class="Button Button--fullWidth Button--google unconnected-google-button" {{action "authenticateGmail"}}>
          <span class="resource-icon google-color"></span>Invite Gmail Contacts
        </button>
      </div>
  </div>
{{/if}}

{{#if hasFetchedGmailContacts}}
  <div class="row">
    <ul class="Tabs u-mt-4" role="tablist">
      <li role="presentation" class="{{if (eq inviteTab 'email') 'is-active'}}">
        <a aria-controls="email" role="tab" {{ action 'showTab' 'email' }}>Email</a>
      </li>
      <li role="presentation" class="{{if (eq inviteTab "gmail") "is-active"}}">
        <a aria-controls="gmail" role="tab" {{ action 'showTab' 'gmail' }}>
          Gmail Contacts
          {{#if isFetchingGmailContacts}}
            {{loading-spinner}}
          {{/if}}
        </a>
      </li>
    </ul>
  </div>
{{/if}}

<div class="row">
  <div class="Tabs-content">
    <div role="tabpanel" class="Tabs-pane {{if (eq inviteTab 'email') "is-active"}} u-pt-4">
      {{email-invites
        updateInvites="updateEmailInvites"
        limit=maxInvites
      }}
    </div>
    {{#if (eq inviteTab 'gmail')}}
      <div role="tabpanel" class="Tabs-pane is-active u-pt-3">
        {{#if gmailContacts.length}}
          {{gmail-invites
            contacts=gmailContacts
            limit=maxInvites
            updateInvites="updateGmailInvites"
          }}
        {{else if isFetchingGmailContacts}}
          {{loading-spinner message="Fetching Gmail Contacts"}}
        {{else}}
          <p class="small">No Gmail Contacts found.</p>
        {{/if}}
      </div>
    {{/if}}
  </div>
</div>

{{#if (and creditMultiplier creditDescription)}}
  <div class="row">
    <div class="small-12 columns u-textAlignCenter u-mt-4">
      <span class="invitation-credit-amount">${{creditAmount}}</span> {{creditDescription}}
    </div>
  </div>
{{/if}}

<div class="row">
  <button class="u-mt-4 Button Button--fullWidth Button--blue invite-button" disabled="{{if isSubmitDisabled 'disabled'}}" {{action "onSubmit"}}>
    {{submitLabel}} {{pluralize-word invites.length submitCountLabel omitCount=(not hasInvites)}}
    {{#if isSubmittingInvites}}
      {{loading-spinner}}
    {{/if}}
  </button>
</div>

