{{#if message}}<span class="u-va-m">{{message}}...</span>{{/if}}<div class="Loader--basic {{unless plain "Loader--blue"}} {{if message "u-ml-2"}} u-va-m {{spinnerClass}} {{if gif "gif"}} {{if white "white"}}"></div>
