<div role="button" class="dropdown-title {{if isOpen "Open"}}" {{action 'toggle'}}>
  {{#if pendingNotificationsCount}}
    <span class="pending-dot"></span>
  {{/if}}
  {{#unless model.currentContext}}
    {{avatar-image
      isTeam=false
      src=model.avatar
    }}
  {{else}}
    {{avatar-image
      isTeam=true
      color=model.currentContext.avatarColor
      initials=model.currentContext.avatarInitials
      src=model.avatar
    }}
  {{/unless}}
  {{#if isOpen}}
    <span class="Icon--arrowUp"></span>
  {{else}}
    <span class="Icon--arrowDown"></span>
  {{/if}}
</div>
<div class="menu-dropdown menu-dropdown-teams">
  <ul class="menu-dropdownItems">
    <div class="context-list context-list-overflow">
      <section>
        <li class="nav-li">
          <a href="?i={{model.shortId}}" {{action 'switchContext' model}} class="nav-item {{if (and (eq model.uuid model.currentContextId) model.organizations) 'current-context'}}" tabindex="-1">
            <div class="avatar avatar-overlay"></div>
            <img src="{{model.avatar}}" class="avatar" alt="">
            <span class="user-info">
              <span class="action-item {{if model.name 'user-name'}} ellipsis-text">
                {{#if model.name}}
                  {{model.name}}
                {{else}}
                  {{model.email}}
                {{/if}}
              </span>
              {{#if model.name}}
                  <span class="action-item user-email ellipsis-text">
                    {{model.email}}
                  </span>
              {{/if}}
            </span>
          </a>
        </li>
        {{#if model.organizations}}
          {{#each model.organizations as |organization|}}
            <li class="nav-li">
              <a href="?i={{organization.shortId}}" {{action 'switchContext' organization}} class="nav-item context-item {{if (eq organization.uuid model.currentContextId) "current-context"}}" tabindex="-1">
                <span class="context-avatar">
                  <span class="avatar-image b-{{organization.avatarColor}}">
                    <span class="initials">{{organization.avatarInitials}}</span>
                  </span>
                  <img class="avatar-small" src="{{model.avatar}}" alt="">
                </span>
                <span class="action-item ellipsis-text">
                  {{organization.name}}
                </span>
              </a>
            </li>
          {{/each}}
        {{/if}}
      </section>
    </div>
    <section class="dropdown-last-section">
      {{#if model.canCreateTeams}}
        <li class="nav-item create-a-team" tabindex="-1">
          {{#link-to "settings.team.new" class="action-item" invokeAction=(action 'click')}}Create a team{{/link-to}}
        </li>
      {{/if}}
      {{#unless (or model.isInBadStanding model.isArchived)}}
        <li class="nav-item" tabindex="-1">
          {{#if model.currentContext}}
            {{#link-to "settings.team" class="action-item" invokeAction=(action 'click')}}Settings{{/link-to}}
          {{else}}
            {{#link-to "settings.profile" class="action-item" invokeAction=(action 'click')}}Settings{{/link-to}}
          {{/if}}
        </li>
        <li class="nav-item notifications" tabindex="-1">
          {{#link-to "notifications" class="action-item" invokeAction=(action 'click')}}Notifications{{#if pendingNotificationsCount}}{{notifications-nav-count pendingNotificationsCount=pendingNotificationsCount}}{{/if}}{{/link-to}}
        </li>
      {{/unless}}
      <li class="nav-item" tabindex="-1">
        <a class="action-item" href="/logout">Logout</a>
      </li>
    </section>
  </ul>
</div>
