<div class="row billing-stage">
  <div class="small-12 colums">
    <div class="u-textAlignCenter u-mb-4">
     <h2>Billing Info</h2>
      <p>Select your preferred payment method and enter your details. We use this info for account verification, your credit card won't be charged now.</p>
    </div>

    <div class="row">
      <ul class="Tabs" role="tablist">
        <li role="presentation" class="{{if (and (eq billingTab 'credit-card') (not model.pageLoadTime)) 'is-active'}}">
          <a aria-controls="credit-card" role="tab" {{ action 'showTab' 'credit-card' }}>Credit / Debit Card</a>
        </li>
        <li role="presentation" class="{{if (or (eq billingTab 'paypal') model.pageLoadTime) "is-active"}}">
          <a aria-controls="paypal" role="tab" {{ action 'showTab' 'paypal' }}>PayPal</a>
        </li>
      </ul>
    </div>

    <div class="row">
      <div class="Tabs-content">
        <div role="tabpanel" class="Tabs-pane {{if (and (eq billingTab 'credit-card') (not model.pageLoadTime)) "is-active"}} u-pt-5 cc-form">
          {{cc-form
            savingCreditCard=savingCreditCard
            onStripeSuccess=onStripeSuccess
            isShowingSubmitLoader=savingCreditCard
            actionReceiver=creditCardForm
            countries=model.countries
            billingService=billingService
          }}
        </div>
        <div role="tabpanel" class="Tabs-pane {{if (or (eq billingTab 'paypal') model.pageLoadTime) "is-active"}} u-pt-5">
          {{paypal-form
            userId=model.user.internalIdentifier
            pageLoadTime=model.pageLoadTime
          }}
        </div>
      </div>
    </div>
  </div>
</div>
