<p>Add PayPal credit to your account. This is a one-time payment and may take up to five minutes to process.</p>
<form id="paypal" action="{{payPalIpnUrl}}" method="post">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="{{merchantId}}">
  <input type="hidden" name="on0" value="Make a One-Time Payment">
  <input type="hidden" name="currency_code" value="USD">
  <input type="hidden" name="custom" value="{{userId}}">
  {{#if returnURL}}
    <input type="hidden" name="return" value="{{paypalReturnUrl}}">
    <input type="hidden" name="cancel_return" value="{{returnURL}}">
  {{/if}}
  <div class="row">
    <div class="small-6 columns">
      <div class="select-wrapper FloatLabel">
        <div class="Select">
          <select class="select" name="os0" aria-label="Payment Amount" required="required" onChange={{action "onPayPalAmountChange" value="target.value"}}>
            {{#each payPalAmounts as |amount|}}
              <option value="Pay{{amount}}">${{amount}}.00 USD</option>
            {{/each}}
          </select>
        </div>
      </div>
    </div>
    <div class="small-6 columns">
      <p>This will get you {{payPalValueCopy}} droplet.</p>
    </div>
  </div>
  <button type="submit" form="paypal" class="Button Button--blue Button--fullWidth u-mt-4 u-mb-3 {{if (or payPalLoading model.pageLoadTime) 'is-disabled'}}" alt="PayPal - The safer, easier way to pay online!" {{action 'submitPaypal' preventDefault=false}}>
    <span class="paypal"></span>
    {{#if (or payPalLoading pageLoadTime)}}
      {{loading-spinner plain=true}}
    {{/if}}
  </button>
</form>
