
<div class="tags-editor">
  <ul class="monitors-droplet-selector">
    {{#each tags as |item index|}}
      {{#if item.droplet}}
        <li
          role="button"
          class="u-pt-1 u-pb-1 token-item is-grey selectedDroplet {{if item.highlighted "highlighted"}}"
          {{action "highlightItem" item.droplet.id on="mouseEnter"}}
          {{action "unHighlightItem" item.droplet.id on="mouseLeave"}}
        >
          <span
            class="u-floatRight u-ml-2 Icon--close"
            role="button"
            {{action "removeItem" index}}
          >
          </span>
          {{item.droplet.name}}
        </li>
      {{else}}
        <li
          role="button"
          class="u-pt-1 u-pb-1 token-item is-grey selectedTag {{if item.highlighted "highlighted"}}"
        >
          <span
            class="u-floatRight u-ml-2 Icon--close"
            role="button"
            {{action "removeItem" index}}
          >
          </span>
          {{item.tag.name}}
        </li>
      {{/if}}
    {{/each}}
    <li class="token-input-item">
      {{token-input
        showIconInResults=true
        placeholder="Type tag or Droplet name"
        addToken=(action "addToken")
        removePreviousToken=(action "removePreviousToken")
        validateToken=validateTag
        queryOnInput=queryOnInput
        searchResults=searchResults
        type="text"
        onFocusIn=(action "onFocusInTextInput")
      }}
    </li>
  </ul>
</div>
