<div class="pricing">
  <div class="price monthly">
    <span class="dollar">$&nbsp;</span>
    {{#if (and size.custom (not size.monthlyPrice)) }}
      <span class="cost cost-placeholder">__</span>
    {{else}}
      <span class="cost">{{monthlyPrice}}</span>
    {{/if}}
    <span class="period">/mo</span>
  </div>
  <div class="price hourly">
    {{#if (and size.custom (not size.costPerHour)) }}
      <span class="cost cost-placeholder">$__</span>
    {{else}}
      <span class="cost">${{size.costPerHour}}</span>
    {{/if}}
    <span class="period">/hour</span>
  </div>
</div>
{{#if (eq size.modelType 'volume')}}
  <div class="details">
    <span class="disk">
      {{#if size.custom}}
        {{float-label-input
          class="custom-volume-size"
          customValidation=onCustomInputValidation
          error="Not a valid size"
          value=size.disk
          selected=(or selected size.selected)
          required=true
          placeholder="Enter size in GB"
          onInput="onCustomVolumeChange"
        }}
      {{else}}
        <strong>{{bytes-to-human-size showZero=true gb=size.disk}}</strong> {{#if size.original}} (Original) {{/if}}
      {{/if}}
    </span>
  </div>

{{else}}

  <div class="details">
    <span class="memory_and_cpu">
      <strong>{{bytes-to-human-size showZero=true mb=size.memory}}</strong> / {{size.cpu}} CPU{{#unless (eq 1 size.cpu)}}s{{/unless}}
    </span>
    <span class="disk">
      <strong>{{bytes-to-human-size showZero=true gb=size.disk}}</strong> SSD disk
    </span>
    <span class="bandwidth">
      <strong>{{bytes-to-human-size showZero=true gb=size.bandwidth precision=0}}</strong> transfer
    </span>
  </div>

{{/if}}
