{{#each targets as |target index|}}
  {{token-item
    text=target.name
    item=target
    index=index
    isGrey=true
    showIcon=true
    disableClickPropagation=true
    clickToken=(action "clickTarget")
    blurToken=(action "blurTarget")
    focusToken=(action "focusTarget")
    removeToken=(action "removeTarget")
  }}
{{/each}}
{{#if tagIsSelected}}
  <span class="target-droplet-count {{if showTagDropletCount 'target-droplet-count-visible'}}">
    {{#unless isUpdatingTagDropletCount}}
      {{pluralize-word tagDropletCount "Droplet"}}
      {{if region (concat "in " (to-uppercase region))}}
    {{/unless}}
  </span>
  <a role="button" class="target-clear" {{action "clearTargets"}}>
    <span class="Icon--close"></span>
  </a>
{{else}}
  {{token-input
    type="text"
    placeholder=placeholder
    queryOnInput=queryTargets
    searchResults=filteredSearchResults
    validateToken=validateToken
    allowNewTokens=false
    addToken=(action "addTarget")
    removePreviousToken=(action "removePreviousToken")
    onFocusIn=(action "onFocusInTextInput")
    showCount=false
    autofocus=false
    showIconInResults=true
  }}
{{/if}}
