<div class="row">
  <div class="small-12 columns">
    <div class="u-textAlignCenter u-mb-4">
      <h2>Billing method</h2>
      <p>Select your preferred billing method below. Teams will be invoiced individually.</p>
    </div>

    <div class="row">
      <ul class="Tabs u-mt-3" role="tablist">
        <li role="presentation" class="{{if (and (eq billingTab 'credit-card') (not paypalLoading)) 'is-active'}}">
          <a aria-controls="credit-card" role="tab" {{ action 'showTab' 'credit-card' }}>Credit Card</a>
        </li>
        <li role="presentation" class="{{if (or (eq billingTab 'credits') paypalLoading) "is-active"}}">
          <a aria-controls="credits" role="tab" {{ action 'showTab' 'credits' }}>Credits</a>
        </li>
        {{#if bankAccount}}
          <li role="presentation" class="{{if (eq billingTab 'bank-accounts') "is-active"}}">
            <a aria-controls="bank-accounts" role="tab" {{ action 'showTab' 'bank-accounts' }}>Bank Account</a>
          </li>
        {{/if}}
      </ul>
    </div>

    <div class="row">
      <div class="Tabs-content">
        <div role="tabpanel" class="Tabs-pane {{if (and (eq billingTab 'credit-card') (not paypalLoading)) "is-active"}} u-pt-3">
          {{#if (or sortedValidCreditCards isLoadingCreditCards)}}
            <h3>Select credit card</h3>
            <div class="row u-pr-2">
              <p class="columns small-8">Choose an existing credit card to associate with your team account.</p>
              <button class="Button u-floatRight" {{action "toggleCCForm"}}>
                Add New Card
              </button>
            </div>

            {{#if isLoadingCreditCards}}
              {{loading-spinner message="Fetching Credit Cards"}}
            {{else}}
              <ul class="billing-credit-card-list">
                {{#each sortedValidCreditCards as |creditCard|}}
                  {{credit-card-item
                    card=creditCard
                  }}
                {{/each}}
              </ul>

              <button class="Button Button--blue Button--fullWidth u-mt-4" disabled="{{if (not selectedCreditCard) "disabled"}}" {{action "onSubmit"}}>
                <span class="Icon--lock"></span>
                Select Credit Card
              </button>
            {{/if}}
          {{else}}
            <div class="u-textAlignCenter u-mb-4">
              <img class="EmptyState-image" src="/assets/images/wallet.svg" alt="">
              <p class="u-mb-0">Looks like you don't have any credit cards.</p>
              <p>Add one to start using DigitalOcean.</p>
              <button class="Button Button--blue Button--fullWidth u-mt-4" {{action "toggleCCForm"}}>
                New Credit Card
              </button>
            </div>
          {{/if}}
        </div>
        <div role="tabpanel" class="Tabs-pane credit-pane {{if (or (eq billingTab 'credits') paypalLoading) "is-active"}} u-pt-3">
          {{#if (and creditBalanceValue (not paypalLoading))}}
            <h3>Transfer credits</h3>
            <div class="columns u-pl-0 u-pr-0">
              <p class="small-9 columns u-pl-0"> Create your team by adding a minimum of $5 in credit from your personal account.</p>
              <button class="Button u-floatRight" {{action "togglePaypalForm"}}>
                Add Credits
              </button>
            </div>

            <div class="row">
              <div class="small-6 columns">
                {{input-box
                  id='credit-option-balance'
                  prefix="$"
                  value=creditBalanceValue
                  minValue=minCredits
                  maxValue=maxCreditBalanceValue
                  errorMessage=(concat "Minimum of $" minCredits)
                  label="Entire Account Balance"
                  isEditable=false
                  isSelected=(eq selectedCreditOption 'credit-option-balance')
                  onClick="onClickCreditOption"
                  shouldValidateOnRender=true
                }}
              </div>
              <div class="small-6 columns">
                {{input-box
                  id='credit-option-custom'
                  prefix="$"
                  value=creditCustomValue
                  minValue=minCredits
                  maxValue=creditBalanceValue
                  minErrorMessage=(concat "Minimum of $" minCredits)
                  maxErrorMessage=(concat "Maximum of $" creditBalanceValue)
                  errorMessage="Invalid input"
                  label="Custom Amount"
                  isEditable=true
                  isSelected=(eq selectedCreditOption 'credit-option-custom')
                  onClick="onClickCreditOption"
                  shouldValidateOnRender=false
                }}
              </div>
            </div>

            <button class="Button Button--blue Button--fullWidth u-mt-4" disabled="{{if (not hasEnoughCredits) "disabled"}}" {{action "onSubmit"}}>
              <span class="Icon--lock"></span>
              Transfer {{if (eq selectedCreditOption 'credit-option-balance') 'All'}} Credits
            </button>
          {{else if paypalLoading}}
            <div class="is-disabled u-textAlignCenter columns u-mr-2">
              {{loading-spinner plain=true}}
              <h3 class="u-mt-2">Processing Payment</h3>
              <p class="columns">Your payment form is processing.  This is a one-time payment and may take up to 5 minutes to process. (it's usually super quick)</p>
            </div>
          {{else}}
            <div class="u-textAlignCenter u-mb-4">
              <img class="EmptyState-image" src="/assets/images/coin_purse.svg" alt="">
              <p class="u-mb-0">Looks like you don't have any credits.</p>
              <p>Add some to start using DigitalOcean.</p>
              <button class="Button Button--blue Button--fullWidth u-mt-4" {{action "togglePaypalForm"}}>
                Add Credits
              </button>
            </div>
          {{/if}}
        </div>
        {{#if bankAccount}}
          <div role="tabpanel" class="Tabs-pane {{if (eq billingTab 'bank-accounts') "is-active"}} u-pt-3">
            <h3>Select Bank Account</h3>
            <div class="row u-pr-2">
              <p class="u-mb-3 columns">Choose an existing bank account to associate with your team account.  Add a new bank on the <a href="/settings/billing">billing page</a>.</p>
            </div>
            <div class="credit-card">
              {{input type="checkbox" id="bank-account-item" checked=bankAccount.isSelected}}
              <span class="credit-card-checkbox"></span>
              <label for="bank-account-item" class="credit-card-label">
                <span class="credit-card-info">
                  <span class="credit-card-name">{{bankAccount.name}}</span>
                  <span class="credit-card-meta small">
                    Ending in {{bankAccount.lastFour}}
                  </span>
                </span>
              </label>
            </div>
            <button class="Button Button--blue Button--fullWidth u-mt-4" disabled="{{if (not bankAccount.isSelected) "disabled"}}" {{action "onSubmit"}}>
              <span class="Icon--lock"></span>
              Select Bank Account
            </button>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
{{#if showCCForm}}
  {{#modal-window
    title="New Credit Card"
    contentClasses="onboarding-cc-modal cc-form"
    showSave=false
    showCancel=false
    onHide="onCCModalHide"
  }}
    {{cc-form
      savingCreditCard=savingCreditCard
      isShowingSubmitLoader=savingCreditCard
      actionReceiver=creditCardForm
      countries=countries
      billingService=billingService
      onStripeSuccess=onStripeSuccess
    }}
  {{/modal-window}}
{{/if}}

{{#if showPaypalForm}}
  {{#modal-window
    title="Add Credits"
    contentClasses="onboarding-paypal-modal"
    showSave=false
    showCancel=false
    onHide="onPaypalModalHide"
  }}
    {{paypal-form
      savingCreditCard=savingCreditCard
      isShowingSubmitLoader=savingCreditCard
      actionReceiver=creditCardForm
      countries=countries
      billingService=billingService
      onStripeSuccess=onStripeSuccess
      returnURL=paypalReturnURL
      userId=userId
      creditBalanceValue=creditBalanceValue
      paypalLoading=paypalLoading
      onPaypalSubmit="onPaypalSubmit"
    }}
  {{/modal-window}}
{{/if}}
