<div class="row">
  <div class="small-12 colums EmptyState Box">
    <div class="u-textAlignCenter u-mb-4">
      <img class="EmptyState-image u-mb-0" src="/assets/images/empty-team.svg" alt="">
      <h2>Team information</h2>
      <p>Add some details about your new team.<br />Don’t worry, you can always change this later.</p>
    </div>

    {{#form-with-validation onSubmit="onSubmit" submitButtonText="Continue"}}
      <div class="row">
        <div class="small-6 columns">
          {{float-label-input error="Invalid team name" pattern="^[A-Za-z0-9][A-Za-z0-9-_\s]+[A-Za-z0-9]$" required=true value=orgName placeholder="Team name" maxlength=maxTeamNameLength autofocus="autofocus" autocomplete="off"}}
        </div>
        <div class="small-6 columns">
          {{float-label-input type="email" error="Invalid email address" required=true value=orgEmail placeholder="Contact email" postfixTooltip="All emails will be sent here."}}
        </div>
      </div>
      {{#if auroraSlugRoutes}}
        <div class="row">
          <div class="small-12 columns">
            {{float-label-input klasses="js-team-name-input-slug" error=slugError pattern=slugPattern required=true value=orgSlug placeholder="Team URL" maxlength=maxTeamNameLength prefix="cloud.digitalocean.com/"}}
          </div>
        </div>
      {{/if}}
      <div class="row">
        <div class="small-12 columns">
          {{check-box inputId="orgTransfer" checked=orgTransfer label="Convert your existing account into a team account."}}
          {{tool-tip
            title='Converting your account will move all of the assets you have (Droplets, floating IPs, domains, etc) to the new team account.'
            class='Hint'
            multiline=true
          }}
        </div>
      </div>
    {{/form-with-validation}}
  </div>
</div>
