{{creation-steps
  step=step
  stepNames=stepNames
  initialHeader="Create a New Team"
  setStep="setStep"
}}

<div class="row Box {{if (eq step 2) 'EmptyState'}}">
  {{#if (eq step 1)}}
    <div class="small-11 small-centered columns">
      {{team-name-form
        orgName=orgName
        orgSlug=orgSlug
        orgEmail=orgEmail
        orgTransfer=orgTransfer
        onSubmitTeamName="onSubmitTeamName"
        onValidateSlug="onValidateSlug"
        isSlugValid=isSlugValid
        invalidSlugs=invalidSlugs
        auroraSlugRoutes=auroraSlugRoutes
      }}
    </div>
  {{/if}}
  {{#if (eq step 2)}}
    <div class="small-11 small-centered columns u-textAlignLeft">
      {{team-billing-form
        creditCards=creditCards
        creditBalanceValue=creditBalance
        minCredits=minCredits
        selectedCreditCard=selectedCreditCard
        credits=credits
        isFree=isFree
        creditCustomValue=creditCustomValue
        billingTab=billingTab
        selectedCreditOption=selectedCreditOption
        isLoadingCreditCards=isLoadingCreditCards
        onSubmit="onSubmitBilling"
        showCCForm=showCCForm
        countries=countries
        billingService=billingService
        onStripeSuccess=onStripeSuccess
        savingCreditCard=savingCreditCard
        paypalReturnURL=paypalReturnURL
        paypalLoading=paypalLoading
        userId=userId
        onPaypalSubmit="onPaypalSubmit"
        bankAccount=bankAccount
      }}
    </div>
  {{/if}}
  {{#if (eq step 3)}}
    <div class="small-11 small-centered columns">
      {{invitation-form
        onSubmitInvites="onSubmitInvites"
        authenticateGmail="authenticateGmail"
        isGmailAuthenticated=isGmailAuthenticated
        isSubmittingSkipInvites=isSubmittingSkipInvites
        isSubmittingInvites=isSubmittingInvites
        title="Invite team members"
        description="Enter the addresses of the people you’d like to invite and we’ll send them an email."
        submitLabel="Invite Team"
        submitCountLabel="Member"
      }}
    </div>
  {{/if}}
  {{#if (eq step 4)}}
    <div class="small-11 small-centered columns">
      <div class="u-textAlignCenter">
        <img class="EmptyState-image u-mb-0" src="/assets/images/empty-team.svg" alt="Complete">
        <h2>Your team is ready to set sail!</h2>
        <p>Visit the team page at any time to invite more people, manage your billing options, and keep your team information up to date.</p>
        <button class="Button Button--blue Button--fullWidth u-mt-2" {{action "navigateToTeamsPage"}}>Visit Team Page</button>
      </div>
    </div>
  {{/if}}
</div>

{{#if (eq step 1)}}
  <div class="row">
    <div class="small-12 columns u-textAlignCenter u-mt-4">
      <a href="/settings/profile/">Cancel</a>
    </div>
  </div>
{{/if}}

{{#if (eq step 3)}}
  <div class="row">
    <div class="small-12 columns u-textAlignCenter u-mt-4">
      <a role="button"clear class="skip-invitations {{if (or isSubmittingInvites isSubmittingSkipInvites) 'is-disabled u-lightgrey'}}" {{action "onSkipInvites"}}>
        No thanks, I'll send invitations later.
        {{#if isSubmittingSkipInvites}}
          {{loading-spinner}}
        {{/if}}
      </a>
    </div>
  </div>
{{/if}}
