{{#if (and model.dropletId (not model.droplet.name))}}
  {{loading-animation}}
{{else}}
  <div class="Ticket-supportBody">
    <h3>{{model.topic}}</h3>
    {{#if model.droplet.name}}
      <p class="associatedDroplet">Associated Droplet: {{model.droplet.name}}</p>
    {{/if}}
    <p class="body">{{break-lines model.content}}</p>
  </div>
{{/if}}
