<input class="js-input" type="{{type}}" placeholder="{{placeholder}}" size="30" spellcheck="false" autocomplete="off" tabindex="0" autofocus={{autofocus}}>
{{#if (and searchTerm searchResultsToDisplay)}}
  <div class="search-results-box">
    <ul class="result-list">
      {{#if allowNewTokens}}
        <li role="button" class="search-item {{if (eq selectedSearchResultIndex -1) 'is-selected'}}" {{action "selectResult" searchTerm}}>
          <span>{{searchTerm}}</span>
        </li>
      {{/if}}
      {{#each searchResultsToDisplay as |result index|}}
        <li role="button" class="search-item {{if (eq selectedSearchResultIndex index) 'is-selected'}}" {{action "selectResult" result.name result}}>
          {{#if showIconInResults}}
            {{#if result.region.slug}}
              <span class="search-item-icon droplet-icon"></span>
            {{else}}
              <span class="search-item-icon tag-icon"></span>
            {{/if}}
          {{/if}}
          <span class="search-item-text">{{result.name}}</span>
          {{#if (and showCount result.count)}}
            <span class="meta">{{result.count}}</span>
          {{/if}}
          {{#if result.region.slug}}
            <span class="meta">{{to-uppercase result.region.slug}}</span>
          {{/if}}
        </li>
      {{/each}}
    </ul>
  </div>
{{/if}}
