{{partial "components/partials/dropdown-menu-title"}}

<div class="menu-dropdown">
  <div class="menu-dropdownView">
    <div role="button" class="menu-dropdownBacktoMenu Icon--arrowLongLeft {{if isShowingMenuItems "hideMenuButton"}}" {{action 'backToMenu'}}></div>
    {{partial "components/partials/dropdown-menu-items"}}

    {{!-- Take Snapshot --}}
    <div class="dropdown-view dropdown-view--take-snapshot u-textAlignLeft">

      {{#if volumeSnapshotLimitReached}}
        {{#if submittedSuccess}}
          <p class="dropdown__headline">Increase request pending</p>
          <p class="small-dark snapshot-header grey u-mb-3">
            We're reviewing your volume snapshot increase request. Our support team will be in touch with you soon.
          </p>
        {{else}}
          <p class="dropdown__headline">Snapshot limit reached</p>
          <p class="small-dark snapshot-header grey u-mb-3">
            To keep more than {{snapshotLimit}} volume snapshots, please request an increase for your account.
          </p>
          <a role="button" class="Button Button--blue Button--fullWidth Button--small u-mb-3" {{action "showIncreaseModal"}}>Request Increase</a>
        {{/if}}
      {{else}}
        <p class="dropdown__headline">Take a snapshot</p>
        <p class="small-dark snapshot-header grey u-mb-3">
          Snapshots cost is based on space used and charged at ${{PRICE_PER_GB}}/GB/Month.
        </p>
        {{#form-with-validation
          onSubmit="createSnapshot"
          submitButtonColor="green"
          submitButtonText="Take Snapshot"
          isNotBubblingOnSubmit=true
          buttonColor="blue"
          spinnerClasses="save-spinner"
          isShowingSubmitLoader=isTakingSnapshot
        }}
          {{float-label-input
            klasses="snapshotName"
            error="Snapshot name cannot be blank"
            required=true
            value=snapshotName
            placeholder="Name your snapshot"
          }}

        {{/form-with-validation}}
      {{/if}}
    </div>
  </div>

</div>
{{modal-limit-increase-form
  limitType="volume snapshot"
  modalTitle="Increase volume snapshot limit"
  size="medium"
  bodyMessage="To prevent abuse, we limit how many snapshots are available. If you'd like to increase your limit, please fill out this form."
  hideLimitAlert=true
  showResourceLimitForm=showResourceLimitForm
  onSubmit="onSubmit"
}}
