{{partial "components/partials/dropdown-menu-title"}}
<div class="menu-dropdown">
  <div class="menu-dropdownView">
    <div role="button" class="menu-dropdownBacktoMenu Icon--arrowLongLeft {{if isShowingMenuItems "hideMenuButton"}}" {{action 'backToMenu'}}></div>
    {{partial "components/partials/dropdown-menu-items"}}

    <div class="dropdown-view dropdown-view--delete">
      <p class="dropdown__headline">Confirm Snapshot Delete</p>
      <p class="small-dark">This action is irreversible. To confirm deletion, click the button below.</p>
      <button class="Button Button--fullWidth Button--red" {{action 'deleteSnapshot'}} tabindex="-1">Delete Volume Snapshot</button>
    </div>
  </div>
</div>
