{{#if currentPageVisible}}
  <span class="pagination-legend">{{currentPageVisible}}</span>
{{/if}}
<table class="images__table">
  <thead>
    <tr>
      {{table-header action="sort" isLoading=sorting sortCol=sort sortDir=sort_direction col="name" text="Name"}}
      {{table-header action="sort" isLoading=sorting sortCol=sort sortDir=sort_direction col="size" text="Size"}}
      {{table-header action="sort" isLoading=sorting sortCol=sort sortDir=sort_direction col="region" text="Regions"}}
      {{table-header action="sort" isLoading=sorting sortCol=sort sortDir=sort_direction col="created_at" text="Created"}}
      {{#unless isReadOnly}}
        {{table-header col="action" noSorting=true}}
      {{/unless}}
    </tr>
  </thead>
  <tbody>
    {{#each filteredSnapshots as |snapshot index|}}
      <tr class="images__snapshotRow {{if snapshot.createSnapshotEvent "createSnapshotEvent"}}">
        <td class="images__nameColumn">
          {{#if (and renameId (eq snapshot.id renameId))}}
            {{#if-image-transferring image=snapshot accountTransfers=transfers}}
              {{editable-resource-item item=snapshot submitEdit="submitRenameSnapshot" cancelEdit="undoRename" noRegion=true hideIcon=true}}
            {{/if-image-transferring}}
            {{#if-not-image-transferring image=snapshot accountTransfers=transfers}}
              {{editable-resource-item item=snapshot submitEdit="submitRenameSnapshot" cancelEdit="undoRename" noRegion=true}}
            {{/if-not-image-transferring}}
          {{else}}
            {{#unless snapshot.createSnapshotEvent}}
              <div role="button" class="snapshot-name can-edit" {{action "renameSnapshotById" snapshot.id}}>
                {{#ellipsis-text text=snapshot.name}}
                  {{#if-image-transferring image=snapshot accountTransfers=transfers}}
                    {{resource-item item=snapshot noRegion=true hideIcon=true}}
                  {{/if-image-transferring}}
                  {{#if-not-image-transferring image=snapshot accountTransfers=transfers}}
                    {{resource-item item=snapshot noRegion=true}}
                  {{/if-not-image-transferring}}
                {{/ellipsis-text}}
              </div>
            {{else}}
              <div class="snapshot-name">
                {{#ellipsis-text text=snapshot.name}}
                  {{#if-image-transferring image=snapshot accountTransfers=transfers}}
                    {{resource-item item=snapshot noRegion=true hideIcon=true}}
                  {{/if-image-transferring}}
                  {{#if-not-image-transferring image=snapshot accountTransfers=transfers}}
                    {{resource-item item=snapshot noRegion=true}}
                  {{/if-not-image-transferring}}
                {{/ellipsis-text}}
              </div>
            {{/unless}}
          {{/if}}

          {{#if-image-transferring image=snapshot accountTransfers=transfers}}
            <div role="button" class="imageTransfer--loader" {{action "openSnapshotDropdown" snapshot}}>
              {{loading-spinner spinnerClass="u-ml-2"}}
            </div>
          {{/if-image-transferring}}
        </td>
        <td class="images__sizeColumn">
          {{#if snapshot.createSnapshotEvent}}
            {{loading-indicator action="afterCreateEvent" onError="onCreateError" actionParams=snapshot event=snapshot.createSnapshotEvent parentSelector="tr" transitionClass="snapshot-loaded"}}
          {{else if (and snapshot.createError (not isReadOnly))}}
            {{#link-to 'images.snapshots' class="create-error"}}Snapshot create event failed,<br />please try again{{/link-to}}
          {{else if snapshot.createError}}
            <a class="create-error">Snapshot create event failed</a>
          {{/if}}

          {{bytes-to-human-size gb=snapshot.billableSizeInGb}}
        </td>
        <td class="images__regionColumn">
          {{image-regions image=snapshot}}
        </td>
        <td class="images__createdColumn">
          {{date-to-human-time date=snapshot.createdAt}}
        </td>
        {{#unless isReadOnly}}
          <td class="images__actionColumn">
            <div class="u-floatRight">
              {{#if snapshot.isDeleted}}
                {{loading-spinner message="Deleting"}}
              {{else if snapshot.isRenaming}}
                {{loading-spinner message="Saving"}}
              {{else if (or snapshot.isRestoring snapshot.restoreEvent)}}
                {{loading-spinner message="Restoring"}}
              {{else if snapshot.isInitializing}}
                {{loading-spinner message="Initializing"}}
              {{else if snapshot.isFetchingDroplet}}
                {{loading-spinner message="Fetching"}}
              {{else}}
                {{snapshot-dropdown-menu
                  imageIndex=index
                  imageId=snapshot.id
                  title="More"
                  action="menuItemClick"
                  transferringSnapshotAction="transferringSnapshotById"
                  cancelTransferringSnapshotAction="cancelTransferringSnapshotById"
                  updateRegionAction="updateRegionById"
                  renameSnapshotAction="renameSnapshotById"
                  restoreSnapshotAction="restoreSnapshotById"
                  createFromSnapshotAction="createFromSnapshotById"
                  deleteSnapshotAction="deleteSnapshotById"
                  regions=sortedRegions
                  regionId=snapshot.region.id
                  restoreDisabled=(or snapshot.dropletIsRestoring restoreDisabled)
                  transferredRegions=snapshot.regions
                  transfers=transfers
                  regionTransfers=snapshot.ongoingTransfers
                  ongoingRegionTransfers=snapshot.ongoingRegionTransfers
                }}
              {{/if}}
            </div>
          </td>
        {{/unless}}
      </tr>
    {{/each}}
  </tbody>
</table>
{{#if needsPagination}}
  {{paginator-full
    linkToPage=routeName
    isLoading=paginating
    pages=snapshots.meta.pagination.pages
    currentPage=snapshots.meta.pagination.current_page
    scrollToAfterLoad="#aurora-container"
    action="changePage"
  }}
{{/if}}
