<div class="load-balancers-create row">
  <div class="lb-breadcrumb u-mb-3">
    {{#link-to "networking.loadBalancers" class="lb-breadcrumb-link"}}
      <span class="lb-breadcrumb-icon Icon--arrowLongLeft"></span>Load Balancers
    {{/link-to}}
  </div>

  {{#if loadBalancersCreationDisabled}}
    <div class="u-mb-5">
      <div class="Alert Alert--failure">
        <div class="Alert-content">New Load Balancers are temporarily unavailable while DigitalOcean is under maintenance.</div>
      </div>
    </div>
  {{/if}}
  <h1>
    <span class="lb-pricing">
      {{#tool-tip
        title="Billed hourly at $0.03. No additional bandwidth charges."
        class="lb-hint lb-pricing-hint"
        multiline=true
      }}
        <span class="Hint" data-placement="top" data-toggle="tooltip"></span>
      {{/tool-tip}}
      <span class="lb-pricing-value">$20</span><span class="lb-pricing-interval">/mo</span>
    </span>
    Create Load Balancer
  </h1>

  {{#form-with-validation
    onSubmit="createLoadBalancer"
    submitButtonText="Create Load Balancer"
    isShowingSubmitLoader=isSubmittingLoadBalancer
    submitButtonColor="green"
    disabledSubmit=submitButtonIsDisabled
  }}
    <h2>Name</h2>
    <section class="row u-mb-6">
      <div class="small-6 columns">
        {{load-balancers/name-field
          isEditMode=true
          name=name
          loadBalancers=model.loadBalancers
        }}
      </div>
    </section>

    <h2>Add Droplets</h2>
    <p>Search for Droplets by individual name or by tag to add to your Load Balancer. They must<br>
      all be located in the same region.</p>
    <section class="row u-mb-7">
      <div class="small-8 columns lb-target-selector-container">
        {{target-selector
          targets=targets
          tagIsSelected=firstTargetIsTag
          searchResults=targetSearchResults
          tagDropletCount=tagDropletCount
          isUpdatingTagDropletCount=isUpdatingTagDropletCount
          region=selectedRegion
          queryTargets=(action "queryTargets")
          onSelectDroplet=(action "onSelectTargetDroplet")
          onSelectTag=(action "onSelectTargetTag")
        }}
      </div>
      <div class="lb-region-select small-2 columns end">
        {{#if regionSelectorIsDisabled}}
          {{#tool-tip
            title="This region has been automatically set based on the Droplets selected."
            class="lb-region-disabled-tooltip"
            multiline=true
            show=true
          }}
            {{float-label-select
              required=true
              error="Please select a region"
              label="Region"
              selectedOption=selectedRegion
              options=regions
              disabled=regionSelectorIsDisabled
              onChange=(action "onRegionChange")
            }}
          {{/tool-tip}}
        {{else}}
          {{float-label-select
            required=true
            error="Please select a region"
            label="Region"
            selectedOption=selectedRegion
            options=regions
            disabled=regionSelectorIsDisabled
            onChange=(action "onRegionChange")
          }}
        {{/if}}
      </div>
    </section>

    <h2>Forwarding rules</h2>
    <section class="u-mb-6">
      <p>Set how traffic will be routed from the Load Balancer to your Droplets.</p>
      {{load-balancers/forwarding-rules
        isEditMode=true
        onRulesChange="onForwardingRulesChange"
        onAddCertificate="onAddCertificate"
        rules=forwardingRules
        certificateOptions=certificateOptions
        maxRules=5
      }}
    </section>

    <h2>Advanced settings</h2>
    <section class="u-mb-6">
      <p>The most common defaults are preset. You can change them at
        any time in “Edit Advanced Settings”.</p>
      {{#if advancedSettingsVisible}}
        <div class="lb-advanced lb-advanced-expanded u-mb-6">
          <h3>Algorithm</h3>
          <div class="lb-settings-algorithm u-mb-8">
            {{load-balancers/algorithm
              isEditMode=true
              selectedAlgorithm=selectedAlgorithm
              onAlgorithmSelect="onAlgorithmSelect"
            }}
          </div>

          <h3>
            Sticky sessions
            {{#tool-tip
              title="When in use, the Load Balancer will use a cookie to route follow-up requests from the same client to a single Droplet."
              class="lb-hint lb-heading-hint"
              multiline=true
            }}
              <span class="Hint" data-placement="top" data-toggle="tooltip"></span>
            {{/tool-tip}}
          </h3>
          {{load-balancers/sticky-sessions-config
            classNames="u-mb-5"
            isEditMode=true
            type=stickySessionsType
            cookieName=stickyCookieName
            cookieTTL=stickyCookieTTL
          }}

          <h3>Health checks</h3>
          <p>Set how often the Load Balancer checks if Droplets are responding. It will<br>
            automatically stop sending traffic to unresponsive Droplets.</p>
          {{load-balancers/health-check-config
            isEditMode=true
            selectedProtocol=healthCheckProtocol
            port=healthCheckPort
            path=healthCheckPath
          }}

          <h4>Additional settings</h4>
          {{load-balancers/health-check-advanced
            classNames="u-mb-5"
            isEditMode=true
            checkInterval=checkInterval
            responseTimeout=responseTimeout
            unhealthyThreshold=unhealthyThreshold
            healthyThreshold=healthyThreshold
          }}

          <h3>SSL</h3>
          <div class="lb-settings-https-redirect u-mb-2">
            {{load-balancers/https-redirect
              isEditMode=true
              isEnabled=redirectHttpToHttps
            }}
          </div>
        </div>
      {{else}}
        <div class="lb-advanced lb-advanced-collapsed u-mb-6">
          <div class="lb-advanced-item">
            <b>Algorithm</b>
            {{load-balancers/algorithm
              selectedAlgorithm=selectedAlgorithm
            }}
          </div>
          <div class="lb-advanced-item">
            <b>Sticky sessions</b>
            {{load-balancers/sticky-sessions-config
              type=stickySessionsType
              cookieName=stickyCookieName
              cookieTTL=stickyCookieTTL
            }}
          </div>
          <div class="lb-advanced-item">
            <b>Health checks</b>
            {{load-balancers/health-check-config
              hostname="0.0.0.0"
              selectedProtocol=healthCheckProtocol
              port=healthCheckPort
              path=healthCheckPath
            }}
          </div>
          <div class="lb-advanced-item">
            <b>SSL</b>
            {{load-balancers/https-redirect
              isEnabled=redirectHttpToHttps
            }}
          </div>
          <div class="lb-advanced-item lb-advanced-last">
            <button
              type="button"
              class="lb-advanced-edit Button"
              {{action "toggleAdvancedSettings"}}>
              Edit Advanced Settings
            </button>
          </div>
        </div>
      {{/if}}
    </section>
  {{/form-with-validation}}
</div>

{{#if certificateModalVisible}}
  {{load-balancers/create-certificate-modal
    onHide=(action "closeCertificateModal")
    saveCallback=certificateSaveCallback
    certificateOptions=certificateOptions
    allCertificates=model.certificates
    errorHandler=boundErrorHandler
  }}
{{/if}}
