{{#modal-window title="Increase Droplet Limit" showCancel=false showSave=false size="small" onHide="onModalHide" contentClasses="u-pl-2 u-pr-2 settings-team-droplet-limit-increase"}}
  <p>Please complete the following form to request a Droplet limit increase.</p>
  {{#form-with-validation onSubmit="onSubmit" submitButtonText="Submit Request" isShowingSubmitLoader=isSubmitting}}
  <div class="row">
    {{float-label-input error="Name cannot be blank" required=true value=name placeholder="Name"}}
  </div>
  <div class="row">
    {{float-label-input error="Location cannot be blank" required=true value=location placeholder="Location"}}
  </div>
  <div class="row">
    {{float-label-input error="Explanation cannot be blank" required=true value=reason placeholder="Explanation for Droplet limit increase"}}
  </div>
  <div class="row">
    {{float-label-input pattern="\d+" error="Droplet Limit must be a number" required=true value=requestedLimit placeholder="Requested Droplet Limit"}}
  </div>
  <div class="row">
    {{float-label-input pattern="https?://(.+)?[^\.]" error="Profile Link must be a valid URL" required=true value=publicProfile placeholder="Link to Public Profile (e.g. Github, Twitter, etc.)"}}
  </div>
  {{/form-with-validation}}
{{/modal-window}}
