<h2>Triggered Alerts</h2>
<table class="u-mb-5">
  <thead>
    <tr>
      <th width="5%">Name</th>
      <th width="45%" class="table-col"></th>
      <th width="15%" class="table-col u-pl-0">Duration</th>
      <th class="u-pl-0">Value</th>
      <th class="table-col--action"></th>
    </tr>
  </thead>
  <tbody>
    {{#each model.activeAlerts as |activeAlert|}}
      <tr>
        <td class="table-col">
          <button class="expand-btn" {{action "expandAffectedDroplets" activeAlert}}>
            {{#if activeAlert.affectedDropletsExpanded}}
              <span class="Icon--minus">Collapse</span>
            {{else}}
              <span class="Icon--plus">Expand</span>
            {{/if}}
          </button>
        </td>
        <td class="table-col--monitor u-pr-2">
          {{#link-to 'monitors.edit' activeAlert.threshold.id}}
            {{#if (and editLoading (eq thresholdId activeAlert.threshold.id)) }}
              <div class="Loader--basic Loader--blue u-floatLeft threshold-inline"></div>
            {{/if}}
            {{resource-item
              hideIcon=(and editLoading (eq thresholdId activeAlert.threshold.id))
              item=activeAlert.threshold
              hideStatus=true
              class="red-icon"
            }}
          {{/link-to}}
        </td>
        <td>
          {{activeAlert.duration}}
        </td>
        <td>
          {{activeAlert.value}}
        </td>
        <td>
          {{dropdown-menu closeOnClick=true title="More" items=menuItems action="menuItemClick" actionParams=activeAlert.threshold}}
        </td>
      </tr>
      {{#if activeAlert.affectedDropletsExpanded}}
        {{#each activeAlert.affectedDroplets as |dropletLikeObj| }}
          <tr class="sublist-item">
            <td colspan=2>
              {{#link-to 'droplet.graphs' dropletLikeObj.id class="droplet-link u-pl-6"}}
                {{dropletLikeObj.name}}
              {{/link-to}}
            </td>
            <td>
              {{dropletLikeObj.uiDuration}}
            </td>
            <td colspan=2>
              {{dropletLikeObj.uiValue}}
            </td>
          </tr>
        {{/each}}
      {{/if}}
    {{/each}}
  </tbody>
</table>
