<button class="Button Button--blue" {{action "onShowModal"}}
        disabled={{hasMaxDropletsAndTags}}>Add Droplets</button>
{{#if isShowingModal}}
  <div class="u-textAlignLeft">
    {{#modal-window
      title="Add Droplet"
      onHide="onHideModal"
      showCancel=false
      showSave=false
      size="large"}}

    <form data-validate="true">
      <fieldset>
        <div class="row AddDropletsContainer">
          <div class="small-9 columns">
            {{#validated-field-wrapper
              warningMessage=targetsMessage
            }}
              <div class="fw-target-selector">
                {{target-selector
                  excludeFromSearchResults=existingTargets
                  targets=dropletsAndTags
                  searchResults=searchResults
                  queryTargets=queryTargets
                }}
              </div>
            {{/validated-field-wrapper}}
          </div>

          <div class="small-3 columns">
            <button class="Button Button--blue" {{action "onAdd"}} disabled={{buttonDisabled}}>Add Droplet</button>
          </div>
        </div>
      </fieldset>
    </form>
    {{/modal-window}}
  </div>
{{/if}}
