{{#if batchEditable}}
  <td class="rule-actions">
    <a role="button" class="Icon--red Icon--close rule-remove" onclick={{action onRuleRemove}}></a>
  </td>
{{/if}}

<td>
  {{#if showEdit}}
  <div class="Select">
    <select class="select" onchange={{action onChangeType value="target"}}>
      {{#each ruleTypes as |type index|}}
        <option selected={{eq type rule.type}} value={{type}}>
          {{type}}
        </option>
      {{/each}}
    </select>
  </div>
  {{else}}
    {{rule.type}}
  {{/if}}
</td>

<td>
  {{#if showProtocolSelection}}
    <select class="select" onchange={{action onChangeProtocol value="target"}}>
      {{#each protocols as |protocol index|}}
        <option selected={{eq protocol rule.protocol}} value={{protocol}}>{{protocol}}</option>
      {{/each}}
    </select>
  {{else}}
    {{rule.protocol}}
  {{/if}}
</td>

<td>
  {{#if showPortSelection}}
    {{float-label-input
      value=portRange
      placeholder="Port"
      required=true
      customValidation=validatePort
      setErrorMessage=setPortError
      validateOnInput=true
      onInput=(action onChangePortRange)
    }}
  {{else if showPort}}
    {{portRange}}
  {{/if}}
</td>

<td>
  {{#if showEdit}}
    {{float-label-input
      value=rule.peer
      placeholder="Address or CIDR (IPv4/v6)"
      required=true
      customValidation=validatePeer
      setErrorMessage=setPeerError
      validateOnInput=true
      onInput=(action onChangePeer)
    }}
  {{else}}
    {{rule.peer}}
  {{/if}}
</td>

{{#if itemEditable}}
  <td class="rule-actions">
  {{#if showSave}}
    <button class="Button Button--blue" {{action "onRuleSave"}} disabled="{{if validationErrors "disabled"}}">Save</button>
  {{else if (not editingDisabled) }}
    {{dropdown-menu
      title="More"
      items=menuItems
      action=(action "menuItemClick")
    }}
  {{/if}}
  </td>
{{/if}}
