<table class="security-group-rules">
  <thead>

  <tr>
    {{#if batchEditable}}
      <th class="rule-actions"></th>
    {{/if}}
    {{table-header noSorting=true col="rule-type" text="Type"}}
    {{table-header noSorting=true col="rule-protocol" text="Protocol"}}
    {{table-header noSorting=true col="rule-port-range" text="Port Range"}}
    {{table-header noSorting=true col="rule-peer" text=peerColumnHeader}}
    {{#if itemEditable}}
      <th></th>
    {{/if}}
  </tr>

  </thead>
  <tbody>
    {{#each rules as |rule index|}}
      {{security-groups/rule
        rule=rule
        batchEditable=batchEditable
        itemEditable=itemEditable
        isEditing=(eq isEditing index)
        editingDisabled=(and (not-eq isEditing null) (not-eq isEditing index))
        deleteDisabled=(and itemEditable deleteDisabled)
        duplicateRules=duplicateRules
        onEditStart=(action "onEditStart" index)
        onRuleRemove=(action "onRuleRemove" type index)
        onRuleSave=(action "onRuleSave" type index)
        onChangeType=(action "onChangeType" index)
        onChangeProtocol=(action "onChangeProtocol" index)
        onChangePortRange=(action "onChangePortRange" index)
        onChangePeer=(action "onChangePeer" index)
      }}
    {{/each}}

    {{#if (or batchEditable itemEditable)}}
      <tr class="u-dividerTopLarge">
        {{#if (or hasMaxRules duplicateRules)}}
          <td colspan=5>
            {{#if duplicateRules}}
              <div class="Alert Alert--failure">
                <div class="Alert-content">
                  <p>
                  Rules list contains duplicate rules.
                  </p>
                </div>
              </div>
            {{else if hasMaxRules}}
              <div class="Alert Alert--blue">
                <div class="Alert-content">
                  <p>
                  You've reached the {{maxRules}} rule limit for firewalls.
                  </p>
                </div>
              </div>
            {{/if}}
          </td>
        {{else}}
          {{#if batchEditable}}
            <td class="rule-actions"></td>
          {{/if}}
          <td>
            {{float-label-select
              label="New rule"
              selectedOption=""
              options=presets
              disabled=(or hasMaxRules (and itemEditable (not-eq isEditing
              null)))
              onChange=(action "onRuleAdd" value="target")
            }}
          </td>
          <td></td>
          <td></td>
          <td></td>
          {{#if itemEditable}}
            <td class="rule-actions"></td>
          {{/if}}
        {{/if}}
      </tr>
    {{/if}}
  </tbody>
</table>
