<div class="row u-mt-8">

  <div class="large-4 columns suggestion-column u-pr-5 borderRight">
    {{#if noResultsFound}}
      <strong class="noResults">
        No Results Found for "{{currentQuery}}"
      </strong>
      <span class="moreHelp u-mt-3">
        Still need help? {{#link-to "support.tickets.new"}}Open a support ticket.{{/link-to}}
      </span>
    {{else}}
      {{#if hasPrevPages}}
        <a {{action 'prevPage'}} class="showMoreArticles u-mb-6" role="button">
          Show More
          <span class="Icon--arrowUp"></span>
        </a>
      {{/if}}
      {{#if articles.length}}
        <ul class="articles">
          {{#each articles as |article|}}
            <li class="{{if article.selected "selected" ""}}" {{action 'viewArticle' article}} role="button">
              <h3>{{article.title}}</h3>
              <div class="content">{{sanitize-html article.summary}}</div>
            </li>
          {{/each}}
        </ul>
      {{/if}}
      {{#if hasMorePages}}
        <a {{action 'nextPage'}} class="showMoreArticles u-mb-6 u-mt-6" role="button">
          Show More
          <span class="Icon--arrowDown"></span>
        </a>
      {{/if}}
    {{/if}}
  </div>

  <div class="large-8 columns suggestion-column u-pl-6">
    {{#if currentArticle}}
      <div class="current-article">
        <h1>{{ currentArticle.title }}</h1>
        <div class="body">
          {{#if currentArticle.content}}
            {{{ currentArticle.content }}}
            <div class="article-open"></div>

            {{#if currentArticle.isTutorial}}
              <div class="tutorialInfo u-mt-6">
                <span class="disclaimerCopy">This article came from the <a href="{{currentArticle.url}}"> DigitalOcean Community</a>.</span>
                <span class="ccLic"><img src="/assets/images/cc-license.png" alt=""></span>
              </div>
            {{/if}}
            <span class="moreHelp u-mt-6 u-mb-6">
              Still need help? {{#link-to "support.tickets.new"}}Open a support ticket.{{/link-to}}
            </span>
          {{/if}}
        </div>
      </div>
    {{/if}}
  </div>

</div>
