{{#unless emptyState }}
  <div class="tickets-container">
    <div class="row u-dividerBottomSmall u-mb-0">
      <nav class="large-12 columns">
        <div class="ticketToggle">
          <a class="Button u-mr-2 {{if openFilter 'active'}} {{if noTickets 'is-disabled'}}" {{action "showOpen" on="click"}}  role="button">
            Open Tickets
            {{#if hasUnreadOpenTickets}}
              <span>({{unreadOpenTicketCount}})</span>
            {{/if}}
          </a>
          <a class="Button {{if closedFilter 'active'}} {{if noTickets 'is-disabled'}}" {{action "showClosed" on="click"}}  role="button">
            Closed Tickets
            {{#if hasUnreadClosedTickets}}
              <span class="Badge">{{unreadClosedTicketCount}}</span>
            {{/if}}
          </a>
        </div>
        {{#link-to "support.tickets.new" class=newTicketClassNames}}
          Create Ticket
        {{/link-to}}
      </nav>
    </div>

    <div class="row">
      <aside class="large-4 columns source-list u-pr-5">
        {{#each model as |ticket|}}
          {{#link-to "support.tickets.ticket" ticket.id tagName="div" classNameBindings="ticket.isUnread:unread :source-item" activeClass="selected"}}
            <div class="author-and-timestamp">
              <p class="author">{{ ticket.user.fullName }}</p>
              <p class="u-floatRight">
                {{date-to-human-time date=ticket.lastReplyAt}}
              </p>
            </div>
            <h3>{{ ticket.topic }}</h3>
            <p class="body">{{ticket.content }}</p>
          {{/link-to}}
          {{else}}
          <div class="source-item empty">
            <p class="body">You currently have no {{ filter }} tickets</p>
          </div>
        {{/each}}

        {{#if shouldPaginate}}
          <div class="u-textAlignCenter u-mt-4 u-mb-6">
            {{#link-to "support.tickets" (query-params filter=filter page=prevPageNum) classNameBindings="hasPrevPage::is-disabled :Button :Button--icon :Button-blue :Icon--arrowLeft"}}{{/link-to}}
            {{#link-to "support.tickets" (query-params filter=filter page=nextPageNum) classNameBindings="hasNextPage::is-disabled :Button :Button--icon :Button-blue :Icon--arrowRight"}}{{/link-to}}
          </div>
        {{/if}}
      </aside>
      <aside class="large-8 columns content u-mt-4">
        {{ outlet }}
      </aside>
    </div>
  </div>
{{else}}
  <div class="row">
    <div class="small-12 columns">
      <div class="EmptyState Box">
        <img src="/assets/images/empty-images.svg" class="EmptyState-image" alt="">
        <h3>Currently no tickets.</h3>
        <p>You haven't opened any support tickets yet! Click below to open a ticket.</p>
        {{#link-to 'support.tickets.new' classNames="Button Button--blue"}}Create New Ticket{{/link-to}}
      </div>
    </div>
  </div>
{{/unless}}
