{{#if model.threshold}}
  <h1 class="monitors-header">Update alert policy</h1>
{{else}}
  <h1 class="monitors-header">Create alert policy</h1>
{{/if}}

{{!-- Start of threshold select --}}
<div class="small-12 columns u-pa-0">
  <h2>Select metric &amp; set threshold</h2>
  {{auto-complete
    items=metricAutoCompleteItems
    placeholder="Choose a metric"
    onSelect="onSelectMetric"
    onShow="onUnselectMetric"
    isStatic=true
    onInput="autocompleteSearchMetrics"
    selectedItem=selectedMetric
    class="small-4 columns u-pa-0"
  }}

  <div class="Select small-2 columns u-pr-0">
    <select class="select" onchange={{action "selectCondition" value="target.value"}}>
      {{#each enumsService.conditions as |condition|}}
        <option
          value={{condition.machineName}}
          selected={{eq condition.machineName conditionChoice}}
        >{{condition.name}}</option>
      {{/each}}
    </select>
  </div>

  <div class="small-4 columns u-pr-0">
    {{input
      type="number"
      placeholder="Threshold"
      value=thresholdValue
      class="has-suffix"
      min=0
      max=thresholdMax
      input=(action "trackThresholdUserInput")
      step="any"}}
    <span>{{selectedMetric.unit}}</span>
  </div>

  <div class="Select small-2 columns u-pr-0">
    <select class="select" onchange={{action "selectDuration" value="target.value"}}>
      {{#each enumsService.durations as |duration|}}
        <option
          value={{duration.id}}
          selected={{eq duration.id durationChoice.id}}
        >{{duration.humanReadableName}}</option>
      {{/each}}
    </select>
  </div>
</div>
{{!-- End of treshold select --}}

{{!-- Start of droplet select --}}
<div class="monitor-resource-select-container u-pa-0 small-12 columns">
  <h2>Select Droplets</h2>
  {{resource-list-editor
    tags=selectedDropletsList

    queryOnInput=(action "querySelectedResourses")
    unsortedSearchResults=searchResults

  }}
</div>
{{!-- End of droplet select --}}

{{!-- Start of alert select --}}
<div class="small-12 columns u-pa-0 u-mt-6">
  <div>
    <h2 class="u-displayInline">Set alerts</h2>
    {{#if (not hasAtLeastOneAlert) }}
      <span class="alert-error-message u-ml-2">Please select one alert type.</span>
    {{/if}}
  </div>
  <div class="small-12 columns u-mb-2 u-mt-2 u-pl-0 monitoring-alert-container">
      <div class="checkbox u-mr-0">
        {{input id="email-checkbox" type="checkbox" checked=email.checked disabled=email.emailBoxDisabled}}
        <span></span>
        <label for="email-checkbox">
            Email to {{email.address}}
        </label>
      </div>
  </div>
  <div class="u-mb-3 u-mt-3">
    <div class="small-12 columns u-pl-0 monitoring-alert-container">
      {{#if (and slack.value (not slack.editingValue ) )}}
        <div class="checkbox u-mr-0">
          {{input id="slack-checkbox" type="checkbox" checked=slack.checked disabled=slack.checkBoxDisabled}}
          <span></span>
          <label for="slack-checkbox">
            {{#if (and slack.value (not slack.editingValue ) )}}
              Slack to {{slack.channel}}
            {{/if}}
          </label>
        </div>
      {{/if}}

      {{#if (and slack.value (not slack.editingValue ) )}}
        <a role="button" class="u-ml-2" {{action 'deleteSlack' }}>Unlink</a>
      {{/if}}

      {{#if (or slack.editingValue (not slack.value)) }}
        <button class="Button" {{action 'authenticateSlack' }}>
          <span class="Icon--slack u-mr-1"></span>
          Connect Slack
        </button>
      {{/if}}

    </div>
  </div>
</div>
{{!-- End of alert select --}}
{{!-- Begin of name and create monitor --}}
<div class="columns small-12 u-pa-0 u-mt-6 u-mb-9">
  <h2>Name and create alert policy</h2>
  <div class="small-8 columns u-pa-0">
    {{float-label-input
      required=true
      value=description
      placeholder="Monitor name"
      error=monitorNameErrorMsg
      class="is-required"
      customValidationRule=validateMonitorName
      onInput="updateMonitorDescription"
    }}
  </div>

  <div class="small-4 columns u-pr-0">
    {{#if model.threshold}}
      <button
        {{action 'updateMonitor'}}
        class="Button Button--blue Button--fullWidth"
        disabled={{not canCreate}}
        data-dismiss="modal"
      >
        Save alert policy
      </button>
    {{else}}
      <button
        {{action 'createMonitor'}}
        class="Button Button--green Button--fullWidth"
        disabled={{not canCreate}}
        data-dismiss="modal"
      >
        Create alert policy
      </button>
    {{/if}}
  </div>
</div>
{{!-- End of name and create monitor --}}
