<div class="Box u-mb-5">
  <h2>Kernel</h2>
  {{#if kernels}}
    <p>This will update your configuration. Then power off the server from the command line and boot it from the control panel and the new kernel will be active. To revert, simply select 'original kernel' and follow the same process.</p>
    {{#if droplet.kernel}}
      <p>Your Droplet's current kernel: <strong>{{droplet.kernel.name}}</strong></p>
    {{/if}}

    <div class="row">
      <div class="columns small-8">
        {{auto-complete
            items=autoCompleteItems
            disabledItemIndicies=kernelDisabledModelIndices
            isSearching=autoCompleteIsSearching
            isShowingMore=autoCompleteIsShowingMore
            onSelect="onSelectKernel"
            onShow="onUnselectKernel"
            placeholder="Select a kernel"
            isRequired=true 
        }}        

      </div>
      <div class="columns small-4">
        <button
          class="Button Button--blue Button--fullWidth"
          disabled="{{if isChangeKernelButtonDisabled 'disabled'}}"
          {{action 'changeKernel'}}
        >Change
          {{#if (or isChangingKernel dropletCtrl.model.changeKernelEvent)}}
            {{loading-spinner spinnerClass="spinner-kernel"}}
          {{/if}}
        </button>
      </div>
    </div>
  {{else}}
    <p>The kernel for this Droplet is managed internally and cannot be changed from the control panel.</p>
  {{/if}}
</div>