<p class="u-pt-3">Last updated {{date-to-human-time date=lastTimeseriesTick}}.
  {{#if monitoringEnabled}}
  {{#link-to 'monitors.add'}} Add monitors. {{/link-to}}
  {{/if}}
</p>

<ul class="small-12 columns droplet-show-chart-list">
  <li class="small-6 columns droplet-show-chart-container">
    <h3>CPU
      {{#tool-tip
        title=(t "dropletGraphs.cpu.tooltip")
        multiline=true
      }}
        <span class="Hint" data-placement="top"  data-toggle="tooltip"></span>
      {{/tool-tip}}
    </h3>
    {{line-chart
      palette=cpuColors
      name='cpu'
      data=tsCPU
      outerWidth=376
      isFocused=commonIsFocused
      focusedDate=commonFocusedDate
      onFocusChanged=(action "updateTooltipValues")
      range=numericPeriod
    }}
  </li>
  <li class="small-6 columns droplet-show-chart-container">
    <h3>Memory
      {{#tool-tip
        title=(t "dropletGraphs.memory.tooltip")
        multiline=true
      }}
        <span class="Hint" data-placement="top"  data-toggle="tooltip"></span>
      {{/tool-tip}}
    </h3>
    {{line-chart
      palette=cpuColors
      name='memory'
      data=memory
      outerWidth=376
      isFocused=commonIsFocused
      focusedDate=commonFocusedDate
      onFocusChanged=(action "updateTooltipValues")
      range=numericPeriod
    }}
  </li>
  <li class="small-6 columns droplet-show-chart-container">
    <h3>Disk I/O
      {{#tool-tip
        title=(t "dropletGraphs.disk-io.tooltip")
        multiline=true
      }}
        <span class="Hint" data-placement="top"  data-toggle="tooltip"></span>
      {{/tool-tip}}
    </h3>
    {{line-chart
      palette=diskColors
      name='disk'
      data=tsDiskIO
      outerWidth=376
      isFocused=commonIsFocused
      focusedDate=commonFocusedDate
      onFocusChanged=(action "updateTooltipValues")
      range=numericPeriod
    }}
  </li>
  <li class="small-6 columns droplet-show-chart-container">
    <h3>Disk usage
      {{#tool-tip
        title=(t "dropletGraphs.disk-usage.tooltip")
        multiline=true
      }}
        <span class="Hint" data-placement="top"  data-toggle="tooltip"></span>
      {{/tool-tip}}
    </h3>
    {{line-chart
      palette=diskColors
      name='diskUsage'
      data=diskUsage
      outerWidth=376
      isFocused=commonIsFocused
      focusedDate=commonFocusedDate
      onFocusChanged=(action "updateTooltipValues")
      range=numericPeriod
    }}
  </li>
  <li class="small-6 columns droplet-show-chart-container">
    <h3>Bandwidth public
      {{#tool-tip
        title=(t "dropletGraphs.bandwidth-pub.tooltip")
        multiline=true
      }}
        <span class="Hint" data-placement="top"  data-toggle="tooltip"></span>
      {{/tool-tip}}
    </h3>
    {{line-chart
      palette=bandwidthColors
      name='bandwidthPublic'
      data=tsBandwidthPub
      outerWidth=376
      isFocused=commonIsFocused
      focusedDate=commonFocusedDate
      onFocusChanged=(action "updateTooltipValues")
      range=numericPeriod
    }}
  </li>
  {{#if tsBandwidthPriv}}
    <li class="small-6 columns droplet-show-chart-container">
      <h3>Bandwidth private
        {{#tool-tip
          title=(t "dropletGraphs.bandwidth-priv.tooltip")
          multiline=true
        }}
          <span class="Hint" data-placement="top"  data-toggle="tooltip"></span>
        {{/tool-tip}}
      </h3>
      {{line-chart
        palette=bandwidthColors
        data=tsBandwidthPriv
        name='bandwidthPrivate'
        outerWidth=376
        isFocused=commonIsFocused
        focusedDate=commonFocusedDate
        onFocusChanged=(action "updateTooltipValues")
        range=numericPeriod
      }}
    </li>
  {{/if}}
  {{#if bandwidthManagement}}
    <li class="small-6 columns droplet-show-chart-container">
      <h3>Bandwidth management
        {{#tool-tip
          title=(t "dropletGraphs.bandwidth-man.tooltip")
          multiline=true
        }}
          <span class="Hint" data-placement="top"  data-toggle="tooltip"></span>
        {{/tool-tip}}
      </h3>
      {{line-chart
        palette=bandwidthColors
        data=bandwidthManagement
        name='bandwidthManagement'
        outerWidth=376
        isFocused=commonIsFocused
        focusedDate=commonFocusedDate
        onFocusChanged=(action "updateTooltipValues")
        range=numericPeriod
      }}
    </li>
  {{/if}}

  {{#if topProcessesEnabled }}
    {{#if (or tsTopProcessesByCPU tsTopProcessesByMemory) }}
      <li class="small-6 columns droplet-show-chart-container per-process">
        <div small-6>
          <h3 class="u-mb-2">Top processes
            {{#tool-tip
              title=(t "dropletGraphs.top-proc.tooltip")
              multiline=true
            }}
              <span class="Hint" data-placement="top"  data-toggle="tooltip"></span>
            {{/tool-tip}}
          </h3>
          <div class="u-FloatRight top-process-timestamp">Last updated: {{date-to-human-time date=lastTopProcessCPUTick}}</div>
        </div>
        <ul class="Tabs u-mb-2 " role="tablist">
          <li role="presentation" class="is-active">
            <a href="#cpu" aria-controls="cpu" role="tab" data-toggle="tab">CPU</a>
          </li>
          <li role="presentation">
            <a href="#memory" aria-controls="memory" role="tab" data-toggle="tab">Memory</a>
          </li>
        </ul>
        <div class="Tabs-content">
          <div role="tabpanel" class="Tabs-pane is-active" id="cpu">
            <table><tbody>
              {{#each tsTopProcessesByCPU as |proc|}}
                <tr>
                  <td title={{proc.name}}>{{proc.name}}</td>
                  <td>{{proc.valuePct}}</td>
                  <td class="per-process-inline-bar-chart">{{inline-bar-chart value=proc.value max=1}}</td>
                </tr>
              {{/each}}
            </tbody></table>
          </div>
          <div role="tabpanel" class="Tabs-pane" id="memory">
            <table><tbody>
              {{#each tsTopProcessesByMemory as |proc|}}
                <tr>
                  <td>{{proc.name}}</td>
                  <td>{{#tool-tip title=proc.toolTipText}}{{proc.valuePct}}{{/tool-tip}}</td>
                  <td class="per-process-inline-bar-chart">{{inline-bar-chart value=proc.value max=model.droplet.memory}}</td>
                </tr>
              {{/each}}
            </tbody></table>
          </div>
        </div>
      </li>
    {{/if}}
  {{/if}}
</ul>
<div class="c3-tooltip-container common-tooltip {{unless commonIsFocused "hidden"}}">
  <table class="c3-tooltip"><tbody>
    <tr><th colspan="2">{{formattedFocusedDate}}</th></tr>
    {{#each graphsList as |entry|}}
      <tr><th colspan=2><h4>{{entry.caption}}</h4></th></tr>

      {{#each entry.focusedVals as |val|}}
        <tr>
          <td class="name"><span style={{val.colorStyle}}></span>{{val.name}}</td>
          <td class="value">{{val.value}} {{val.unit}}</td>
        </tr>
      {{else}}
        <tr>
          <td class="empty" colspan="2">No data</td>
        </tr>
      {{/each}}
    {{/each}}
  </tbody></table>
</div>
