{{#if bandwidthPublic}}
  <h2>Bandwidth public</h2>
  {{droplet-graph
    data=bandwidthPublic
    type='bandwidth'
    colors=bandwidthColors
    onInsertChart='onInsertChart'
    allGraphInfo=allGraphInfo
    class="droplet-graph"
  }}
{{/if}}
{{#if bandwidthPrivate}}
  <h2>Bandwidth private</h2>
  {{droplet-graph
    data=bandwidthPrivate
    type='bandwidth'
    colors=bandwidthColors
    onInsertChart='onInsertChart'
    allGraphInfo=allGraphInfo
    class="droplet-graph"
  }}
{{/if}}
{{#if bandwidthManagement}}
  <h2>Bandwidth management</h2>
  {{droplet-graph
    data=bandwidthManagement
    type='bandwidth'
    colors=bandwidthColors
    onInsertChart='onInsertChart'
    allGraphInfo=allGraphInfo
    class="droplet-graph"
  }}
{{/if}}
<h2>CPU</h2>
{{droplet-graph
    data=cpu
    type='cpu'
    colors=cpuColors
    onInsertChart='onInsertChart'
    allGraphInfo=allGraphInfo
    class="droplet-graph"
}}
<h2>Disk I/O</h2>
{{droplet-graph
    data=disk
    type='disk'
    colors=diskColors
    onInsertChart='onInsertChart'
    allGraphInfo=allGraphInfo
    class="droplet-graph"
}}
<span class="clipper"></span>