<h2>Public IPv6 network</h2>
{{#if dropletCtrl.model.publicIpv6}}
  <ul class="small-block-grid-1">
    <li>
      <h4>Public IPv6 Address:</h4>
      <span>
        {{ip-address text=dropletCtrl.model.publicIpv6}}
      </span>
    </li>
    <li>
      <h4>Public IPv6 Gateway:</h4>
      <span>
        {{ip-address text=dropletCtrl.model.publicIpv6Gateway}}
      </span>
    </li>
    <li>
      <h4>Configurable Address Range:</h4>
      <span>
        {{click-to-copy text=dropletCtrl.model.publicIpv6Range}}
      </span>
    </li>
  </ul>
{{else if (not isReadOnly)}}
  {{#if model.isPoweredOn}}
    <p>Your Droplet must be powered off before enabling public IPv6 network.</p>
    <div class="row">
      <div class="columns small-4">
        <button
          class="Button Button--fullWidth"
          disabled="{{if dropletCtrl.isBusy 'disabled'}}"
          {{action "shutDownDroplet"}}
        >Power Off
          {{#if dropletCtrl.isTogglingPower}}
            {{loading-spinner white=true spinnerClass="spinner-power"}}
          {{/if}}
        </button>
      </div>
    </div>
  {{else}}
    <p>Read more about how to enable IPv6 on our {{#community-link slug="how-to-enable-ipv6-for-digitalocean-droplets"}}community tutorial{{/community-link}}.</p>
    <p>You must modify the network settings of your Droplet for the new IPv6 address to be functional.</p>
    <div class="row">
      <div class="columns small-4">
        <button
          {{action "enablePublicIpv6Networking"}}
          disabled="{{if (or isEnablingIpv6 isEnablingPrivateNetwork dropletCtrl.isBusy) 'disabled'}}"
          class="Button Button--fullWidth"
        >Enable
          {{#if (or isEnablingIpv6 dropletCtrl.model.enablePublicIPv6NetworkingEvent)}}
            {{loading-spinner white=true spinnerClass="spinner-networking"}}
          {{/if}}
        </button>
      </div>
    </div>
  {{/if}}
{{else}}
  <p>Public IPv6 network not enabled.</p>
{{/if}}
