{{#if filteredFloatingIps.length}}
  {{#unless isReadOnly}}
    {{#if (gte filteredFloatingIps.length resourceLimits.floatingIpLimit)}}
      {{partial "networking/partials/floating-ip-limit"}}
    {{else}}
      {{partial "networking/partials/assign-floating-ip-form"}}
    {{/if}}
  {{/unless}}

  <div class="Box">
    <section class="row">
      <div class="small-12 columns">
        <h2>Floating IPs</h2>
        {{partial "networking/partials/floating-ips-table"}}
      </div>
    </section>
  </div>
{{else}}
  {{partial "networking/partials/floating-ips-empty"}}
{{/if}}

{{#if floatingIpToDelete}}
  {{#modal-window title="Delete floating IP" saveClasses="Button--red" contentClasses="confirm-small" size="small" saveText="Delete Floating IP" onHide="onDeleteModalHide"}}
    <p class="u-grey">Are you sure you want to delete floating IP <strong>{{floatingIpToDelete.ip}}</strong>?</p>
  {{/modal-window}}
{{/if}}

{{#if upgradeDroplet}}
  {{partial "networking/partials/upgrade-modal"}}
{{/if}}