<div class="row object-store">
  {{#if model.length}}
    <div class="columns small-12">
      <h1 class="u-floatLeft u-ib">Spaces<span class="trailingLabelBox__beta--grey">BETA</span></h1>
      {{#unless isReadOnly}}
        {{#link-to "spaces.new" class="Button Button--blue u-floatRight"}}Create a space{{/link-to}}
      {{/unless}}
    </div>
    <div class="columns small-12">
      {{#if currentPageVisible}}
        <span class="pagination-legend">{{currentPageVisible}}</span>
      {{/if}}
      <table>
        <thead>
          <tr>
            {{table-header action="sort" isLoading=sorting sortCol=sort sortDir=sort_direction col="name" text="Name"}}
            {{table-header action="sort" isLoading=sorting sortCol=sort sortDir=sort_direction col="created_at" text="Created"}}
            {{#unless isReadOnly}}
              {{table-header col="action" noSorting=true}}
            {{/unless}}
          </tr>
        </thead>
        <tbody>
          {{#each model as |item|}}
            <tr>
              <td>
                {{#link-to 'spaces.show' item.id}}
                  {{#ellipsis-text text=item.name}}
                    {{resource-item item=item}}
                  {{/ellipsis-text}}
                {{/link-to}}
              </td>
              <td>
                {{date-to-human-time date=item.createdAt}}
              </td>
              <td>
                {{dropdown-menu items=menuItems classes="u-floatRight" action="onMenuItemClick" actionParams=item}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      {{#if (gt model.meta.pagination.pages 1)}}
        {{paginator-full
          linkToPage="spaces"
          isLoading=paginating
          pages=model.meta.pagination.pages
          currentPage=model.meta.pagination.current_page
          action="changePage"
        }}
      {{/if}}
    </div>
  {{else}}
    <div class="columns small-12 empty u-textAlignCenter">
      <img src="/assets/images/empty-object-store.svg" alt="No spaces have been created">
      <h1>Get started with Spaces</h1>
      <p class="u-mb-5">
        You've come to the right space. Whether it's to back up your<br>
        data, host static websites or assets, Spaces gives you room.
      </p>
      {{#link-to "spaces.new" class="Button Button--blue"}}Create a space{{/link-to}}
    </div>

  {{/if}}

  {{partial "spaces/partials/feedback"}}
</div>
