<div class="row object-store">
  <div class="columns small-12">
    <h1 class="u-mb-0">Create a Space<span class="trailingLabelBox__beta--grey">BETA</span></h1>
  </div>
  <div class="columns small-12 u-mt-6">
    {{#form-with-validation
      onSubmit="onSubmit"
      isShowingSubmitLoader=isCreating
      spinnerClasses="save-spinner"
      buttonColor="green"
      disabled=isCreating
      submitButtonText="Create a Space"
    }}
      <div class="columns small-6 u-mb-8">
        <strong>Choose a unique name for your Space</strong>
        {{float-label-input
          pattern="[a-z][a-z0-9\.\-]{2,62}"
          onInput="onInput"
          required=true
          placeholder="Enter Space name"
          error="Names must be lowercase alphanumeric with dashes"
          value=name
        }}
        {{#if validName}}
          <span class="name-preview">Your Domain: http://<strong>{{validName}}</strong>.{{bucketLocation}}</span>
        {{/if}}
      </div>
      <div class="columns small-4">
        <strong>Choose a region</strong>
        <div class="region-select" tabindex=0>
          {{to-uppercase region}}
          <span class="Icon--arrowDown"></span>
          <div class="items">
            More regions coming soon!
          </div>
        </div>
      </div>
      {{partial "spaces/partials/access-form"}}
    {{/form-with-validation}}
  </div>
  {{partial "spaces/partials/feedback"}}
</div>
