<ul class="menu-dropdownItems {{if (eq items.length 1) "single-item"}}  {{if itemsLoading "is-disabled"}} {{if noDelete "no-delete"}}">
  {{#each items as |item|}}
    {{#if item.href}}
      <li class="{{if isDisabled "is-disabled"}}"><a  href="{{item.href}}">{{item.name}}</a></li>
    {{else}}
      <li role="button" class="{{if (or isDisabled item.isLoading item.isDisabled) "is-disabled"}}" {{action (or item.actionName 'click') item.name}}>
        {{#if item.isLoading}}
          {{loading-spinner spinnerClass="dropdown-item gif"}}
        {{/if}}
        {{item.name}}
      </li>
    {{/if}}
  {{/each}}
</ul>
