{{#unless hideSubmitButton}}
  <div class="{{submitButtonWrapperClasses}}">
    {{#if isSubmittable}}
      {{#if isNotBubblingOnSubmit}}
        <button class='Button Button--{{buttonColor}} Button--large Button--fullWidth {{submitButtonClasses}}' {{action "onSubmit" bubbles=false}} disabled="{{if (or disabled isShowingSubmitLoader disabledSubmit) 'disabled'}}">
          {{#if submitButtonIcon}}
            <span class="{{submitButtonIcon}}"></span>
          {{/if}}
          {{submitButtonText}}
          {{#if isShowingSubmitLoader}}
            {{loading-spinner spinnerClass=spinnerClasses plain=plainSubmitLoader }}
          {{/if}}
        </button>
      {{else}}
        <button class='Button Button--{{buttonColor}} Button--large Button--fullWidth {{submitButtonClasses}}' {{action "onSubmit"}} disabled="{{if (or disabled isShowingSubmitLoader disabledSubmit) 'disabled'}}">
          {{#if submitButtonIcon}}
            <span class="{{submitButtonIcon}}"></span>
          {{/if}}
          {{submitButtonText}}
          {{#if isShowingSubmitLoader}}
            {{loading-spinner spinnerClass=spinnerClasses plain=plainSubmitLoader}}
          {{/if}}
        </button>
      {{/if}}
    {{else}}
      <button class='Button Button--{{buttonColor}} Button--large Button--fullWidth {{submitButtonClasses}}' disabled>
        {{#if submitButtonIcon}}
          <span class="{{submitButtonIcon}}"></span>
        {{/if}}
        {{submitButtonText}}
        {{#if isShowingSubmitLoader}}
          {{loading-spinner spinnerClass=spinnerClasses plain=plainSubmitLoader}}
        {{/if}}
      </button>
    {{/if}}
  </div>
{{/unless}}
