{{#unless noPrevNext}}
  {{#link-to linkToPage (query-params page=prevPage) classNameBindings="onFirstPage:is-disabled :prev" }}
    Previous
    {{loading-spinner}}
  {{/link-to}}
{{/unless}}

{{#each items as |item|}}
  {{#if item.isButton}}
    {{#link-to linkToPage (query-params page=item.value) classNameBindings="item.active:is-active :page :pagination-button" }}
      <span class="Label">{{item.value}}</span>
      {{#if isLoading}}{{loading-spinner}}{{/if}}
    {{/link-to}}

  {{else}}
    <span class="Gap">...</span>
  {{/if}}
{{/each}}

{{#unless noPrevNext}}
  {{#link-to linkToPage (query-params page=nextPage) classNameBindings="onLastPage:is-disabled :next" }}
    {{#if isLoading}}{{loading-spinner}}{{/if}}
    Next
  {{/link-to}}
{{/unless}}
