{{#unless noPrevNext}}
  <a role="button" {{action "linkClick" prevPage}} class="{{if onFirstPage 'is-disabled'}} prev">
    Previous
    {{loading-spinner}}
  </a>
{{/unless}}

{{#each items as |item|}}
  {{#if item.isButton}}
    <a role="button" {{action "linkClick" item.value}} class="{{if item.active 'is-active'}} page pagination-button">
      <span class="Label">{{item.value}}</span>
      {{#if isLoading}}{{loading-spinner}}{{/if}}
    </a>

  {{else}}
    <span class="Gap">...</span>
  {{/if}}
{{/each}}

{{#unless noPrevNext}}
  <a role="button" {{action "linkClick" nextPage}} class="{{if onLastPage 'is-disabled'}} next">
    {{#if isLoading}}{{loading-spinner}}{{/if}}
    Next
  </a>
{{/unless}}
