<span role="button" class="name" {{action 'selectRegion'}}>
  {{region.name}}
</span>
<ul class="dcs">
  {{#each region.regions as |dc|}}
    {{#unless dc.restriction}}
      <li>
        <button {{action 'select' dc}} class="unbuttonized region-{{dc.id}} {{if dc.selected 'selected'}}">{{dc.name}}</button>
      </li>
    {{else}}
      <li class="disabled" >
        {{#unless (and noOptions noOptionsRestriction)}}
          {{#tool-tip title=dc.restriction multiline=true}}
            <div class="unbuttonized">{{dc.name}}</div>
          {{/tool-tip}}
        {{else}}
          <div class="unbuttonized">{{dc.name}}</div>
        {{/unless}}
      </li>
    {{/unless}}
  {{/each}}
</ul>
