<div class="Resource {{if selected "selected"}} {{if editing "isEditing"}} {{if hideIcon "hideIcon"}} Resource--rightContext" data-value="{{resourceValue}}" data-type="{{resourceType}}" data-id="{{item.id}}" title="{{if showTitle resourceItemName}}">
  {{#if (and hideIconType (not hideIcon))}}
    <div class="Resource-image {{if wide "large"}}">
      {{resource-icon resource=resourceName large=wide}}
      {{#if (and item.status (not hideStatus))}}
        {{droplet-status status=item.status}}
      {{/if}}
    </div>
  {{/if}}
  <div class="Resource-meta {{unless hasMeta "no-meta"}} {{if showClose "has-close"}}">
    <div role="button" class='Resource-title {{if link-to "has-link"}} {{if (and isEditable (not showSaving)) 'can-edit'}}' {{action "onTitleClick"}}>
      {{#if selected}}
        {{#if item.selectedText}}
          {{item.selectedText}}
        {{else}}
          {{resourceItemName}}
        {{/if}}
      {{else}}
        {{#unless editing}}
          {{#if link-to}}
            {{#link-to link-to item.id}}{{resourceItemName}}{{/link-to}}
          {{else}}
            {{resourceItemName}}
          {{/if}}
        {{else}}
          {{#form-with-validation
            onSubmit="submitEdit"
            submitButtonClasses="Icon--check"
            isInlineForm=true
            submitButtonText=""
          }}
            {{#if validPattern}}
              {{float-label-input pattern=validPattern maxlength=maxlength required=true value=item.name placeholder="Edit Resource Name"}}
            {{else}}
              {{float-label-input maxlength=maxlength required=true value=item.name placeholder="Edit Resource Name"}}
            {{/if}}
          {{/form-with-validation}}
        {{/unless}}
      {{/if}}
      {{#if loadingMessage}}
        <strong class="{{loadingMessageClasses}}">{{loadingMessage}}</strong>
      {{/if}}
      {{#if showSaving}}
        {{#if savingToolTip}}
          {{#tool-tip title=savingToolTip}}
            {{loading-spinner spinnerClass="resource-saving" message=savingMessage}}
          {{/tool-tip}}
        {{else}}
          {{loading-spinner spinnerClass="resource-saving" message=savingMessage}}
        {{/if}}
      {{/if}}
    </div>
    {{#if resourceDescription}}
      <div class="Resource-description">
        {{resourceDescription}}
      </div>
    {{else if hasMeta}}
      {{#if disabledMeta}}
        <div class="Resource-description disabled-reason">
          {{disabledMeta}}
        </div>
      {{else if (or showIpMeta isFloatingIp)}}
        <div class="Resource-description">
          {{region-slug slug=item.region.slug}} / {{ipDescription}}
        </div>
        {{partial "components/partials/resource-item-close"}}
      {{else if isKernel}}
        <div class="Resource-description">
          {{item.distributionName}} Kernel
        </div>
        {{partial "components/partials/resource-item-close"}}
      {{else if isVolumeSnapshot}}
        <div class="Resource-description">
          Created from {{item.volumeName}}
        </div>
        {{partial "components/partials/resource-item-close"}}
      {{else if isDomain}}
        <div class="Resource-description">
          {{item.recordString}}
        </div>
        {{partial "components/partials/resource-item-close"}}
      {{else if isBucket}}
        <div class="Resource-description">
          {{item.url}} {{#if item.numBytes}} / {{bytes-to-human-size b=item.numBytes precision=1}} / {{item.numObjects}} files{{/if}}
        </div>
        {{partial "components/partials/resource-item-close"}}
      {{else if (or item.isSnapshot item.isBackup)}}
        <div class="Resource-description">
          {{#if item.isSnapshot}}
            {{#if item.wasCreatedByUser}}
              Created from {{item.dropletName}}
            {{else}}
              Base Image
            {{/if}}
          {{else}}
            Backup created {{date-to-human-time noTooltip=true date=item.createdAt}}
          {{/if}}
        </div>
        {{partial "components/partials/resource-item-close"}}
      {{else if isVolume}}
        <div class="Resource-description">
          {{#if (and showPrice item.pricePerMonth)}}
            {{bytes-to-human-size gb=item.sizeGigabytes}} at {{item.pricePerMonth}}
          {{else}}
            {{region-slug slug=(or item.region.slug item.regionSlug)}} / {{bytes-to-human-size gb=item.sizeGigabytes}}
          {{/if}}
        </div>
        {{partial "components/partials/resource-item-close"}}
      {{else if isThreshold}}
        <div class="Resource-description">
          {{item.resourceMeta}}
        </div>
      {{else if isLoadBalancer}}
        <div class="Resource-description">
          {{region-slug slug=item.region}} / {{pluralize-word item.backendDropletCount "Droplet"}}
          {{#if wide}}/ {{ip-address text=item.ip}}{{/if}}
        </div>
      {{else if isFirewall}}
        <div class="Resource-description">
          Firewall
        </div>
      {{else}}
        <div class="Resource-description">
          {{#unless isImage}}
            {{bytes-to-human-size mb=item.memory precision=0}}{{#if wide}} Memory {{/if}} / {{bytes-to-human-size gb=item.disk precision=0}}{{#if (or wide includeStorage)}} Disk {{#if item.totalStorageSize}} + {{bytes-to-human-size b=item.totalStorageSize}}{{/if}}{{/if}} / {{region-slug slug=item.region.slug}}
            {{#if showExtendedMeta}}
              <span class="image-name"> - {{item.image.longName}}</span>
            {{/if}}
          {{else}}
            Base Image
          {{/unless}}
        </div>
        {{partial "components/partials/resource-item-close"}}
      {{/if}}
    {{else if item.meta}}
      <div class="Resource-context static-meta">
        {{item.meta}}
        {{#if item.meta2}}
          <span class="static-meta-2">{{item.meta2}}</span>
        {{/if}}
      </div>
    {{/if}}
  </div>
</div>
