{{#if isEditMode}}
  <div class="forwarding-rules-editor u-mb-5 {{if hasHttpsRules 'forwarding-rules-editor-certificates'}}">
    <table class="forwarding-rules-table">
      <thead>
        <tr>
          <th class="rule-entry-heading" colspan=2>Load Balancer</th>
          {{#if hasHttpsRules}}
            <th class="rule-certificate"></th>
          {{/if}}
          <th class="rule-arrow"></th>
          <th class="rule-target-protocol">Droplet</th>
          <th class="rule-target-port"></th>
          <th class="rule-delete"></th>
        </tr>
      </thead>
      <tbody>
        {{#each rules as |rule index|}}
          {{load-balancers/forwarding-rule
            rule=rule
            protocols=protocols
            allRules=rules
            hasHttpsRules=hasHttpsRules
            certificateOptions=certificateOptions
            onRemove=(action "onRemove" index)
            onAddCertificate="onAddCertificate"
            onValidateForm=(action "onValidateForm")
          }}
        {{/each}}
        <tr class="forwarding-rule">
          <td class="rule-entry-protocol">
            {{float-label-select
              label="New rule"
              selectedOption=newRuleProtocol
              options=protocols
              onChange="onNewRule"
            }}
          </td>
          <td class="rule-entry-port"></td>
          {{#if hasHttpsRules}}
            <td class="rule-certificate"></td>
          {{/if}}
          <td class="rule-arrow"></td>
          <td class="rule-target-protocol"></td>
          <td class="rule-target-port"></td>
          <td class="rule-delete"></td>
        </tr>
      </tbody>
    </table>
    {{#unless rules}}
      <p class="forwarding-rules-error">
        You must define at least one forwarding rule.
      </p>
    {{/unless}}
  </div>
{{else}}
  <div class="forwarding-rules-list">
    {{#each rules as |rule index|}}
      <div class="forwarding-rules-item">
        {{to-uppercase rule.entry_protocol}} on port
        {{rule.entry_port}}
        <span class="forwarding-rules-item-icon Icon--arrowLongRight"></span>
        {{rule.target_protocol}} on port
        {{rule.target_port}}
      </div>
    {{/each}}
  </div>
{{/if}}
