{{#if isEditMode}}
  <div class="sticky-sessions-options">
    {{#each availableOptions as |option|}}
      <div class="sticky-sessions-option sticky-sessions-option-{{to-lowercase option.value}}">
        <div class="sticky-sessions-radio u-mb-3">
          {{radio-button
            name="stickySessions"
            checked=type
            value=option.value
            id=option.value
            radioChange="onTypeChange"
          }}
          <span></span>
          <label for={{option.value}}>{{option.label}}</label>
        </div>
        {{#if (and (eq type "COOKIES") (eq option.value "COOKIES"))}}
          <div class="sticky-sessions-fields">
            <div class="sticky-sessions-field sticky-sessions-cookie-name">
              {{float-label-input
                value=cookieName
                placeholder="Cookie name"
                customValidation=validateCookieName
                setErrorMessage=setCookieNameErrorMessage
              }}
            </div>
            <div class="sticky-sessions-field">
              {{float-label-input
                value=cookieTTL
                placeholder="TTL (in s)"
                customValidation=validateCookieTTL
                setErrorMessage=setCookieTTLErrorMessage
              }}
            </div>
          </div>
        {{/if}}
      </div>
    {{/each}}
  </div>
{{else}}
  {{#if (eq type "COOKIES")}}
    <div class="sticky-sessions-view">
      <div class="sticky-sessions-item">
        <strong>Cookie name</strong>
        <div class="overflow-ellipsis">
          {{cookieName}}
        </div>
      </div>
      <div class="sticky-sessions-item">
        <strong>Cookie TTL</strong><br>
        {{cookieTTL}}s
      </div>
    </div>
  {{else}}
    Off
  {{/if}}
{{/if}}
