<table class="target-droplets-table">
  <thead>
  <tr>
    {{table-header noSorting=true col="lb-droplet-name" text="Name"}}
    {{table-header noSorting=true col="lb-droplet-status" text="Status"}}
    {{table-header noSorting=true col="lb-droplet-ip" text="IP Address"}}
    {{table-header noSorting=true col="lb-droplet-downtime" text="Downtime"}}
    {{table-header noSorting=true col="lb-droplet-queue" text="Queue"}}
    {{table-header noSorting=true col="lb-droplet-health-checks" text="Health Checks"}}
    {{#if showActionDropdown}}
      {{table-header noSorting=true col="lb-droplet-actions"}}
    {{/if}}
  </tr>
  </thead>
  <tbody>
  {{#each targetDropletsWithStats as |dropletWithStats|}}
    <tr class="lb-droplet-row {{dropletWithStats.status.rowClass}}">
      <td class="lb-droplet-name">
        {{#link-to 'droplet.graphs' dropletWithStats.droplet.id}}
          {{resource-item resourceName="droplet" item=dropletWithStats.droplet}}
        {{/link-to}}
      </td>
      <td class="lb-droplet-status">
        {{#if (not-eq dropletWithStats.status metricUnavailable)}}
          <span class="lb-status-icon {{dropletWithStats.status.iconClass}}"></span>
          {{#if dropletWithStats.status.tooltipText}}
            {{#tool-tip
              title=dropletWithStats.status.tooltipText
              class="lb-collecting-metrics-tooltip"
              multiline=true
            }}
              <span class="lb-status-label">{{dropletWithStats.status.label}}</span>
            {{/tool-tip}}
          {{else}}
            <span class="lb-status-label">{{dropletWithStats.status.label}}</span>
          {{/if}}
        {{else}}
          {{partial "networking/partials/metric-unavailable"}}
        {{/if}}
      </td>
      {{#if dropletWithStats.droplet.privateIpv4}}
        <td class="lb-droplet-ip">{{ip-address text=dropletWithStats.droplet.privateIpv4}}</td>
      {{else}}
        <td class="lb-droplet-ip">{{ip-address text=dropletWithStats.droplet.ipAddress}}</td>
      {{/if}}
      <td class="lb-droplet-downtime">
        {{#if (eq dropletWithStats.lastDowntime collectingMetrics)}}
          {{partial "networking/partials/collecting-metrics-lb-droplet"}}
        {{else}}
          {{dropletWithStats.lastDowntime}}s
        {{/if}}
      </td>
      <td class="lb-droplet-queue">
        {{#if (eq dropletWithStats.lastQueueSize collectingMetrics)}}
          {{partial "networking/partials/collecting-metrics-lb-droplet"}}
        {{else}}
          {{dropletWithStats.lastQueueSize}}
        {{/if}}
      </td>
      <td class="lb-droplet-health-checks">
        {{#if (eq dropletWithStats.lastHealthChecks collectingMetrics)}}
          {{partial "networking/partials/collecting-metrics-lb-droplet"}}
        {{else}}
          {{dropletWithStats.lastHealthChecks}}%
        {{/if}}
      </td>
      {{#if showActionDropdown}}
        <td class="lb-droplet-actions">
          {{dropdown-menu
            title="More"
            items=actionDropdownItems
            action="actionMenuItemClick"
            closeOnClick=true
            actionParams=dropletWithStats.droplet.id
            noDelete=hideDeleteAction
          }}
        </td>
      {{/if}}
    </tr>
  {{/each}}
  </tbody>
</table>
